<div class="assignment_body_list" >
  <div class="ab_list_title">
    <input type="hidden" name="question_id" class="question_id" value="<%=@question.id%>" />
    <input type="hidden" name="question_type"   value="lianxian" />
    <h1>连线<%=@question.name.nil? ? "" : "(#{@question.name})" %></h1>
    <p><%=current_user.name%>  /  <%=@question.created_at.strftime("%Y-%m-%d")%> <% unless @question.is_a?(ShareQuestion) %> / <span name=cankaoshijian>参考时间：<%=  @question.questions_time.nil? ? "未设置":"#{@question.questions_time}"  %></span><% end %></p>
    <ul class="ab_func">
      <% unless @question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0)" class="clock_icon tooltip_html">设定时间</a></li>
        <li><a href="javascript:void(0)" class="<%= is_shared(@question) %> tooltip_html">分享</a></li>
      <% end %>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box">
    <div class="ab_article" id="now_new_branch" question_index="<%= @question.id %>" >
      <div class="questions_item" stypes="save_lianxian" branch_question_index="" question_type="lianxian">
        <%= form_for :question,:url => { :action => :save_lianxian, :controller => :questions }, :method=>"post" ,:remote=>true do |f|%>
          <div class="q_topic">
            <div class="ligatureQuestions">
              <ul>
                <li class="qt_text"><p></p><input name="left_lianxian1" type="text"/></li>
                <li><i></i></li>
                <li class="qt_text"><p></p><input name="right_lianxian1" type="text"/></li>
              </ul>
            </div>

            <div class="ligatureQuestions">
              <ul>
                <li class="qt_text"><p></p><input name="left_lianxian2" type="text"/></li>
                <li><i></i></li>
                <li class="qt_text"><p></p><input name="right_lianxian2" type="text"/></li>
              </ul>
            </div>
            <div class="ligatureQuestions">
              <ul>
                <li class="qt_text"><p></p><input name="left_lianxian3" type="text"/></li>
                <li><i></i></li>
                <li class="qt_text"><p></p><input name="right_lianxian3" type="text"/></li>
              </ul>
            </div>
          </div>
          <div class="qt_icon">
            <a href="javascript:void(0)" class="save tooltip_html save_chen" onclick="onclick_submit(this)">保存</a>
            <a href="javascript:void(0)" class="delete tooltip_html delete_chen" style="display:none" data-confirm="确定删除?" data-remote="true">删除</a>
            <a href="javascript:void(0)" class="tag tooltip_html"onclick="add_selects_tags(this)" style="display:none;">标签</a>
          </div>
          <input type="hidden"  name="question_package_id" id="question_package_id_2" value="<%=  @question_package_id %>"/>
          <input type="hidden" name="question_id" value="<%= @question.id %>"/>
          <input type="hidden" name="branch_question_id"value=""/>
          <input type="hidden" name="content_index" val="0"/>
          <input type="hidden" name="index_new" class="index_new" value="0"/>
          <input class="submit_sava" type="submit" style="display:none" value="保存"/>
        <% end %>
        <div class="tag_ul">
          <ul>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('input[type=checkbox], input[type=radio]').iCheck({
      checkboxClass: 'icheckbox_square-aero',
      radioClass: 'iradio_square-aero',
      increaseArea: '20%' // optional
    });
  });
</script>

