<div class="assignment_body_list" >
  <div class="ab_list_title">
    <% que_time = trans_int_to_time(question.questions_time.to_i) %>
    <input type="hidden" name="question_id" class="question_id" value="<%=question.id%>" />
    <input type="hidden" name="question_type"   value="select" />
    <h1>选择<%=question.name.nil? ? "": "(#{question.name})" %></h1>
    <p><%=current_user.name%> / <%=question.created_at.strftime("%Y-%m-%d")%> /
      <span name="cankaoshijian">参考时间：<% if question.questions_time.nil? %>未设置<% else %>
          <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %></span></p>
    <ul class="ab_func">
      <li><a href="javascript:void(0)" class="clock_icon tooltip_html">设定时间</a></li>
      <% if @school_class %>
      <li><a href="javascript:void(0)" class="<%= is_shared(question) %> tooltip_html">分享</a></li>
      <% end  %>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <div class="ab_article" question_index="<%= question.id %>">
      <% branch_question.each do |branch_question| %>
        <div class="questions_item" branch_question_index="<%= branch_question.id %>" stypes="save_select" question_type="select">
          <%= form_for :question,:url => { :action => :update_select, :controller => "/questions",:question_package_id=>@question_pack.nil? ? 0 : @question_pack.id}, :method=>"post" ,:remote=>true do |f|%>
            <div class="q_topic">
              <div class="multipleChoice">
                <div class="q_left">
                  <% if branch_question.content  %>
                    <% if  branch_question.content.include?("</file>") && branch_question.content.include?("<file>") %>
                      <% sourse = branch_question.content.scan(/(?<=\<file\>).*(?=\<[^\\]file\>)/)[0]
                      format = sourse.split(".")[1]%>
                      <% if format=="jpg" || format=="png" %>
                        <img src="<%= sourse %>" style="width:86px;height: 86px"/>
                      <%end%>
                      <% if format=="mp3" || format=="amr" || format=="wav" %>
                        <li onclick="playAudio(this)">
                          <img src="/assets/voiceing.jpg" >
                        <audio controls="controls" style="display:none;">
                          <source src="<%= sourse %>" type="audio/mpeg" />
                          Your browser does not support the audio element.
                        </audio>
                        </img>
                        </li>
                      <% end %>
                      <input type='text' value='<%= sourse %>' name='select_resourse' style='display:none;'/>
                    <% end %>
                  <% end %>
                </div>
                <div class="q_right">
                  <div class="q_title"><div class="qt_text">
                      <% if branch_question.content  %>
                        <% if  branch_question.content.include?("</file>") && branch_question.content.include?("<file>") %>
                          <% sourse = branch_question.content.scan(/(?<=\<file\>).*(?=\<[^\\]file\>)/)[0]
                          format = sourse.split(".")[1]%>
                          <% if format=="jpg" || format=="png" %>
                            <p><%= branch_question.content.split("</file>")[1] %></p>
                            <input name="select_content" type="text" value="<%= branch_question.content.split("</file>")[1] %>"/>
                          <%end%>
                          <% if format=="mp3" || format=="amr" || format=="wav" %>
                            <p></p>
                            <input type='text' name='select_content' style='display:none;background: #F0F0F0;' disabled='true'/>
                          <% end %>
                        <% else %>
                          <p><%= branch_question.content %></p>
                          <input name="select_content" type="text" value="<%= branch_question.content %>"/>
                        <% end %>
                      <% else %>
                        <p><%= branch_question.content %></p>
                        <input name="select_content" type="text" value="<%= branch_question.content %>"/>
                      <% end %>
                    </div>
                  </div>
                  <ul>
                    <% count=0 %>
                    <% branch_question.options.split(";||;").each do |bq_option| %>
                      <li><input type="checkbox" name="check_select[]" value="<%= count+=1 %>"
                        <% if  branch_question.answer.split(";||;").include?(bq_option) %>
                                   checked
                                 <% end %>/>
                        <div class="qt_text">
                          <p><%= bq_option %></p>
                          <input name="select_value<%= count %>" type="text" value="<%= bq_option %>"/>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div class="qt_icon">
              <a href="javascript:void(0)" class="save tooltip_html save_chen" onclick="onclick_submit(this)"style="display:none">保存</a>
              <%= link_to '删除',{:controller => '/questions',:action =>'delete_branch_question',
                :question_package_id=>@question_pack.nil? ? 0 : @question_pack.id,:id=>branch_question.id} ,
                :remote=>true ,:class=>'delete tooltip_html delete_chen',confirm:'确认删除?'%>
              <a href="javascript:void(0)" class="tag tooltip_html" onclick="add_selects_tags(this)">标签</a>
            </div>
            <input type="hidden"  name="question_package_id" id="question_package_id_2" value="<%= @question_pack.nil? ? 0 : @question_pack.id %>"/>
            <input type="hidden" name="question_id" value="<%= question.id %>"/>
            <input type="hidden" name="branch_question_id" value="<%= branch_question.id %>"/>
            <input class="submit_sava" type="submit" style="display:none" value="保存"/>
          <% end %>
          <div class="tag_ul">
            <ul>
              <% if  branch_tags.present? && branch_tags[branch_question.id].present? %>
                <% branch_tags[branch_question.id].each do |t| %>
                  <li>
                    <p><%= t.name %></p>
                    <a href="javascript:void(0)" class="x" onclick='delete_tags(this,<%= school_class_id.blank? ? 0 : school_class_id %>,<%= @question_pack.nil? ? 0 : @question_pack.id %>,<%=t.id  %>,<%= branch_question.id %>,"lianxian")'>x</a>
                  </li>
                <% end %>
              <% end  %>
            </ul>
          </div>
        </div>
      <% end  if branch_question.present? %>
      <%= render "questions/next_branch_select",{:@question=>question,:@index_new=>branch_question.nil? ? 0 : branch_question.count } %>
    </div>
  </div>
</div>