<div class="book_box_con">
  <div class="readWrite_icon clearAfter">
    <ul>
       <li class="rw_read" id="new_xj_red" style="display: none;">听写题</li>
       <li class="rw_write" id="new_xj_write" style="display: none;">朗读题</li>
    </ul>
  </div>
  <input type="hidden" id="hidden_question_id" value="<%= @question.id %>"/>
  <input type="hidden" id="hidden_question_pack_id" value="<%= @question_pack.id %>"/>
  <div class="book_box_func">
    <p></p>
    <div class="sort"><a href="/question_packages?question_package_id=<%= @question_pack.id %>&question_id=<%= @question.id %>&sort_name=up" data-remote="true" data-type="script">时间</a></div>
  </div>
  <div class="book_box_area">
    <div class="book_box_table">
      <%= render "share_questions" %>
    </div>
  </div>

</div>