<div class="book_box_con">
  <div class="readWrite_icon clearAfter">
    <ul>
       <li class="rw_read" id="new_xj_red" style="display: none;">听写题</li>
       <li class="rw_write" id="new_xj_write" style="display: none;">朗读题</li>
    </ul>
    <input id="question_types" type="text" value="<%= @question_type  %>" style="display: none;">
  </div>
  <input type="hidden" id="hidden_question_id" value="<%= @question.id %>"/>
  <input type="hidden" id="hidden_question_pack_id" value="<%= @question_pack.id %>"/>
  <div class="book_box_func">
    <ul>
      <li><%= link_to "分享", share_question_package_question_path(@question_pack, @question), :remote => true, "data-type" => "script", :class => "share_a tooltip", :method => :post %></li>
      <li><%= link_to "删除", school_class_question_package_question_path(school_class_id, @question_pack, @question), :method => "delete", :confirm => "确定删除此题？",:class=>"remove_a tooltip"  %></li>
    </ul>
  </div>

  <div class="book_box_area">
    <div class="book_box_table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>文本输入区</th>
            <th width="100" class="th_func_bg">功能</th>
          </tr>
        </thead>
        <tbody>
          <% @branch_questions.each_with_index do |branch, index| %>
            <tr>
              <td>
                <div class="td_text">
                  <a href="javascript:void(0)" class="remove" onclick = "removeBranchQues(this)">删除</a>
                  <p class="td_text_p tooltip_title" title="双击句子可以进行编辑和修改" ondblclick="ModifyQuestion(this)"><%= branch.content %></p>
                  <input name="branch_content[]" type="text" value="<%= branch.content %>" class="td_text_input" onblur="hideInput(this,<%= @question_type %>)"/>
                </div>
              </td>
              <td width="100" class="td_func_bg">
                <form action="" method="post" data-remote="true" data-type="script">
                  <a href="javascript:void(0)" class="voice_icon"  onclick="playAudio(this)">
                    <audio controls="controls">
                      <source src="<%= branch.resource_url %>" type="audio/mpeg" />
                      Your browser does not support the audio element.
                    </audio>
                  </a>
                  <input name="branch[content]" type="text" class="td_text_input" value="<%= branch.content %>"/>
                  <input type="hidden" name="tr_index" class="tr_index" value="<%= index %>"/>
                </form>

              </td>
            </tr>
          <% end if@branch_questions%>
          <tr>
            <td>
              <input name="" type="text" class="td_input" onblur="checkText(this, '<%= question_package_question_branch_questions_path(@question_pack, @question) %>')"/>
            </td>
            <td width="100" class="td_func_bg">
              <a class="up_voice_a">
                <span>上传音频</span>
                <input type="file"/>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<div id="fugai" style="display: none;position: fixed ;top:0; z-index:2;width:100%;height:100%;opacity:0.7;background:#D1EEEE;">

</div>
<div id="fugai1" style="display: none;width:100%;height:100%;position: fixed ;top:0;z-index: 3;">
  <div style="display:block;margin: 100px auto;text-align: center;height:80px;">
    <h2 >音频上传中</h2>
    <img src="/assets/009.gif" style=" width:80px;height:80px; "/>
  </div>

</div>