<div class="assignment_body_list">
  <div class="ab_list_title">
    <input type="hidden" name="question_id" class="question_id" value="<%=@question.id%>" />
    <input type="hidden" name="question_type"   value="select" />
    <h1>选择
      <% if @question.is_a?(ShareQuestion) %>
       <%= @question.name.present? ? "(#{@question.name})" : "(#{share_question_title(@question.try(:id))})".html_safe %>
      <% else %>
        <%=@question.name.nil? ? "" : "(#{@question.name})" %>
      <% end %>
    </h1>
    <p><%=current_user.name%> / <%=@question.created_at.strftime("%Y-%m-%d")%><% unless @question.is_a?(ShareQuestion) %> /<span name=cankaoshijian> 参考时间：<%=  @question.questions_time.nil? ? "未设置":"#{@question.questions_time}"  %></span><% end %></p>
    <ul class="ab_func">
      <% unless @question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0)" class="clock_icon tooltip_html">设定时间</a></li>
        <li><a href="javascript:void(0)" class="<%= is_shared(@question) %> tooltip_html">分享</a></li>
      <% end %>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box">
    <div class="ab_article" id="now_new_branch" question_index="<%= @question.id %>" >
      <div class="questions_item" stypes="save_select" branch_question_index="" question_type="select">
        <%= form_for :question,:url =>{ :action => :save_select, :controller => :questions },:method=>"post",:remote=>true do |f|%>
          <div class="q_topic q_willCompile" >
            <div class="multipleChoice">
              <div class="q_left">
                <ul>
                  <li>
                    <a href="javascript:void(0)" class="voice tooltip_title" input_t="voice" title="点击上传音频" onclick="select_upload_choice(this)"></a>
                    <a href="javascript:void(0)" class="photo tooltip_title" input_t="photo" title="点击上传图片" onclick="select_upload_choice(this)"></a>
                    <input type="file" id="input_select_upload" name="select_file"style="display:none" onchange="select_upload(this)"/>
                  </li>
                </ul>
              </div>
              <div class="q_right">
                <div class="q_title"><div class="qt_text"><p></p><input name="select_content" type="text"/></div></div>
                <ul>
                  <li><input type="checkbox" name="check_select[]" value="1"/><div class="qt_text"><p></p><input name="select_value1" type="text"/></div></li>
                  <li><input type="checkbox" name="check_select[]" value="2"/><div class="qt_text"><p></p><input name="select_value2" type="text"/></div></li>
                  <li><input type="checkbox" name="check_select[]" value="3"/><div class="qt_text"><p></p><input name="select_value3" type="text"/></div></li>
                  <li><input type="checkbox" name="check_select[]" value="4"/><div class="qt_text"><p></p><input name="select_value4" type="text"/></div></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="qt_icon">
            <a href="javascript:void(0)" class="save tooltip_html save_chen" onclick="onclick_submit(this)">保存</a>
            <a href="javascript:void(0)" class="delete tooltip_html delete_chen"style="display:none" data-confirm="确定删除?" data-remote="true">删除</a>
            <a href="javascript:void(0)" class="tag tooltip_html" onclick="add_selects_tags(this)" style="display:none;">标签</a>
          </div>
          <input type="hidden" name="school_class_id" class="school_class_id" value="<%= school_class_id %>"/>
          <input type="hidden"  name="question_package_id" id="question_package_id_2" value="<%=  @question_package_id %>"/>
          <input type="hidden" name="question_id" value="<%= @question.id %>"/>
          <input type="hidden" name="branch_question_id"value=""/>
          <input type="hidden" name="index_new" class="index_new" question_id="<%= @question.id %>" value="0"/>
          <input class="submit_sava" type="submit" style="display:none" value="保存"/>
        <% end %>
        <div class='tag_ul'>
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('input[type=checkbox], input[type=radio]').iCheck({
      checkboxClass: 'icheckbox_square-aero',
      radioClass: 'iradio_square-aero',
      increaseArea: '20%' // optional
    });
  });
</script>


