<div class="reply_again_area" >
  <%  @repiles.each do |reply|%>
    <div class="askAnswer_area_box question_area_box">
      <div class="askAnswer_avater"><img src="<%=  reply.sender_avatar_url%>"/></div>
      <div class="askAnswer_area_con question_area_con">
        <a  href="javascript:void(0);" class="x" onclick="delete_reply(this,<%=reply.id%>,'<%=@micropost.id%>')" >删除</a>
        <div class="askAnswer_area_text">
          <%=reply.content%>
        </div>
        <div class="askAnswer_area_func">
          <div class="question_text_func">
            <input type="hidden" value="<%=@micropost.id%>" />
            <input type="hidden" value="<%=reply.sender_id%>" />
            <input type="hidden" value="<%=reply.sender_types%>" />
            <input type="hidden" value="<%=current_teacher.user_id%>" />
            <span><%=reply.sender_name%> 回复 <%=reply.reciver_name%> </span><span><%=reply.created_at.to_s[0..19]%></span>
            <a href="javascript:void(0);"onclick="show_reply_again(this,'<%=reply.reciver_name%>')"  class="tooltip_title comment_icon" val="1" title="评论"></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<input type="hidden" class="current_page" value="1"/>

<div id="see_more">
<%= render :partial => 'microposts/see_more'  %>
</div>

<div class="ask_area" style="display:none;">
  <input type="hidden" value="" />
  <input type="hidden" value="" />
  <input type="hidden" value="" />
  <input type="hidden" value="<%=current_teacher.user_id%>" />
  <div class="ask_area textarea" style="width: 90%; margin-left: 10%;"><textarea cols="" rows=""></textarea></div>
  <div class="ask_area_btn"><button class="green_btn" onclick="main_reply(this)">回复</button></div>
</div>


