<span class="arrows"></span>
<div class="ask_area" >
  <input type="hidden" value="<%=@micropost.id%>" />
  <input type="hidden" value="<%=@micropost.user_id%>" />
  <input type="hidden" value="<%=@micropost.user_types%>" />
  <input type="hidden" value="<%=current_teacher.user_id%>" />
  <div class="ask_area_textarea"><textarea cols="" rows=""></textarea></div>
  <div class="ask_area_btn"><button class="green_btn" onclick="main_reply(this)">发布</button></div>
</div>
<div class="reply_again_area" >
  <%  @repiles.each do |reply|%>
    <div class="question_area_box">
      <div class="avater"><a href="#"><img src="<%=reply.sender_avatar_url%>" /></a></div>
      <div class="question_area_con">
        <div class="avater_name"><a href="#"><%=reply.sender_name%></a> 回复 <a href="#"><%=reply.reciver_name%></a></div>
        <div class="question_area_text"><%=reply.content%></div>
        <div class="question_text_func">
          <input type="hidden" value="<%=@micropost.id%>" />
          <input type="hidden" value="<%=reply.sender_id%>" />
          <input type="hidden" value="<%=reply.sender_types%>" />
          <span class="time"><%=reply.created_at.to_s[0..19]%></span>
          <a   class="answer_a" onclick="show_reply_again(this,'<%=reply.reciver_name%>')"> 回复 </a><a onclick="delete_reply(<%=reply.id%>)"  class="answer_a">删除</a>
        </div>

      </div>
    </div>
  <%end%>
</div>
<input type="hidden" class="current_page" value="1"/>
<input type="button" onclick="send_more_replies(this,'<%=@micropost.id%>')" value="查看更多" />
<div class="ask_area" style="display:none;">
  <input type="hidden" value="" />
  <input type="hidden" value="" />
  <input type="hidden" value="" />
  <input type="hidden" value="<%=current_teacher.id%>" />
  <div class="ask_area_textarea"><textarea cols="" rows=""></textarea></div>
  <div class="ask_area_btn"><button class="green_btn" onclick="main_reply(this)">发布</button></div>
</div>