
<%  @microposts.each_with_index do | micropost,index |%>
  <div class="question_area_box" >
    <div class="avater"><a href="#"><img src="<%=micropost.avatar_url%>" /></a></div>
    <div class="question_area_con">
      <a  class="x" onclick="delete_micropots(<%=micropost.micropost_id%>)">删除</a>
      <div class="avater_name"><a href="#"><%=micropost.name%></a></div>
      <div class="question_area_text"><%=micropost.content%></div>
      <div class="question_text_func">
        <span class="time"><%=micropost.created_at.to_s[0..19]%></span><a onclick="show_reply(this,<%=micropost.micropost_id%>)" class="answer_a">回复（<%=micropost.reply_microposts_count%>）</a>
      </div>
      <div class="answer_area" style="<% if (@init_mid && @init_mid.to_i == micropost.micropost_id) || @class_index.to_i ==index %>display:block;<% else %>display:none;<% end %>margin-top: 15px;">
        <% if (@init_mid && @init_mid.to_i == micropost.micropost_id) %>
        <%=  render 'main_pages/answer_area' %>
        <% end %>
      </div>
    </div>
  </div>
<%  end if @microposts %>
<% if @microposts.blank? %>
<p class="red" style="padding-top: 20px;font-size: 20px;text-align: center;">暂无数据</p>
<% end %>


