<%  @reply.each do |reply|%>
  <div class="askAnswer_area_box question_area_box">
    <div class="askAnswer_avater"><img src="<%=  reply.sender_avatar_url%>"/></div>
    <div class="askAnswer_area_con question_area_con">
      <a  href="javascript:void(0);" class="x" onclick="delete_reply(this,<%=reply.id%>,'<%=@micropost.id%>')" >删除</a>
      <div class="askAnswer_area_text">
        <%=reply.content%>
      </div>
      <div class="askAnswer_area_func">
        <div class="question_text_func">
          <input type="hidden" value="<%=@micropost.id%>" />
          <input type="hidden" value="<%=reply.sender_id%>" />
          <input type="hidden" value="<%=reply.sender_types%>" />
          <input type="hidden" value="<%=current_teacher.user_id%>" />
          <span><%=reply.sender_name%> 回复 <%=reply.reciver_name%> </span><span><%=reply.new_created_at.to_s[0..19]%></span>
          <a href="javascript:void(0);"onclick="show_reply_again(this,'<%=reply.reciver_name%>',event);stopPropagation(arguments[0]);"  class="tooltip_title comment_icon" val="1" title="评论"></a>
          <% if reply.sender_id != current_teacher.user_id  %>
            <a href="javascript:void(0);" class="tooltip_title praise_icon<%= reply.praise.nil? || reply.praise==ReplyMicropost::PRAISE[:NOKUDOS] ? "" : "_ed"  %>"
               onclick="good_point(this,<%=@micropost.id%>,<%=reply.id%>)" title="<%= reply.praise.nil? || reply.praise==ReplyMicropost::PRAISE[:NOKUDOS] ? "赞" : "已赞"  %>"></a>
             <% end %>
        </div>
      </div>
    </div>
  </div>
<%end%>


