<%  @reply.each do |reply|%>
  <div class="askAnswer_area_box question_area_box">
    <div class="askAnswer_avater"><img src="<%=  reply.sender_avatar_url%>"/></div>
    <div class="askAnswer_area_con question_area_con">
      <div class="askAnswer_area_text">
        <%=reply.content%>
      </div>
      <div class="askAnswer_area_func">
        <span><%=reply.sender_name%> 回复 <%=reply.reciver_name%> </span><span><%=reply.created_at.to_s[0..19]%></span>
        <a href="javascript:void(0);" class="tooltip_title comment_icon" title="评论"></a>
      </div>
    </div>
  </div>
<%end%>


