<div class="rightSide">
  <div class="main">
    <div class="article">
      <div class="message">
        <ul>
          <% @messages.each do |m| %>
            <li>
              <% name = m.content.split("]]")[0] %>
              <% con = m.content.split("]]")[1] %>
              <div class="avater"><img src=<%= m.url %>/></div>
              <div class="mess_box">
                <span class="arrows">箭头</span>
                <%= link_to "删除", "/school_classes/#{@class_id}/messages/#{m.id}", :method => :delete, :class => "x", :confirm => "确定删除?" %>
                <div class="mess_box_title"><a><%= name.gsub("[[", "") if name %></a><%= con.split(";||;")[0] if con %></div>
                <div class="mess_box_text">"<%= con.split(";||;")[1] if con %>"</div>
                <div class="mess_box_func">
                  <span class="time"><%= m.created_at.nil? ? "" : m.created_at.strftime("%Y-%m-%d %H:%M") %></span>
                  <a href="/school_classes/<%= @class_id %>/messages/check_micropost?uid=<%= m.user_id %>&mid=<%= m.micropost_id %>&mess_id=<%= m.id %>" class="see">查看</a>
                </div>
              </div>
            </li>
          <% end if @messages %>
        </ul>
      </div>

      <% if @messages.present? %>
        <%= will_paginate @messages, :previous_label => "上一页", :next_label => "下一页", :class => "pageTurn" %>
      <% end %>
    </div>
    <% if @messages.blank? %>
      <p  style="font-size: 20px;padding-top: 17px;text-align: center;">暂无信息提醒</p>
    <% end %>
  </div>
</div>
<% if flash[:notice] %>
  <script type="text/javascript">
    tishi("<%= flash[:notice] %>");
  </script>
<% end %>

