
<div class="assignment">
  <div class="ass_panel">
    <h1>编辑<%= Question::TYPES_NAME[@questions[0].types] %></h1>
    <a href="" class="back">返回</a>
  </div>
  <div class="reference_replace_part">
    <div class="assignment_body" id="question_list"  >
      <%=  render :partial => 'question_packages/questions_list' %>
    </div>
  </div>
  <!--标签层-->
  <div class="tag_tab" id="tags_table">
    <span class="arrows">A</span>
    <div class="search">
      <input type="text" onkeyup="search_b_tags(this, 0)"/></div>
    <ul>
      <% @b_tags.each do |bt| %>
        <li><input type="checkbox" value="<%= bt.id %>"/><p><%= bt.name %></p></li>
      <% end %>
    </ul>
    <input type="hidden" name="tag_bq_id" value=""/>
    <input type="hidden" name="tag_bq_type" value=""/>
    <input type="hidden" name="q_index" value=""/>
    <input type="hidden" name="b_index" value=""/>
    <input type="hidden" name="branch_question_id" value=""/>
    <a href="javascript:void(0)" onclick="add_new_b_tag(this, 0)"></a>
  </div>
</div>
<div class="complete_btn_box" style="<%=@question_exist.nil? ? "display:none;":""%>">
  <input type="hidden"  name="school_class_id" id="school_class_id" value="<%=  @school_class.nil? ? 0 :  @school_class.id %>"/>
  <input type="hidden"  name="question_package_id" id="question_package_id" value="<%= @question_pack.nil? ? 0 : @question_pack.id%>"/>
</div>
<script>
  gloab_index = 0;
  $(function(){
    $("#tqm_main_div").bind('click', function (e) {
      if ( $(e.target).closest(".tag_tab").length>0 || $(e.target).closest("a.tag_1").length>0 || $(e.target).closest("a.tag").length>0) {
        $(".tag_tab").css('display','block');
      }else{
        $(".tag_tab").css('display','none');
      }
    });

    var q_div = $("#question_list").find("div.assignment_body_list").first();
    q_div.removeAttr("class");
    q_div.attr("class", "assignment_body_list ab_list_open");
    q_div.find("div.ab_list_box").first().show();
  })
</script>