<div class="main">
  <div class="teacher">
    <div class="teacher_body">
      <div class="ass_panel"><h1>教师题库</h1></div>
      <div class="b_table" id="teacher_question_share">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th width="150">
                <div class="div_select">
                  <div class="tag_select" ><span><%= @cell.nil? ? "选择章节" : @cell.name %></span></div>
                  <input name="chapter" type="text" value="<%= @cell.id if @cell %>"/> 
                  <ul id="select_chapter">
                    <li>章节</li>
                    <%@cells.each do |cell|%>
                      <li index_id="<%= cell.id %>"><%= cell.name %></li>
                    <%end%>
                  </ul>
                </div>
              </th>
              <th width="150">
                <div class="div_select">
                  <div class="tag_select"><span><%= @episode.nil? ? "选择单元" : @episode.name %></span></div>
                  <input name="unit_episode" type="text" value="<%= @episode.id if @episode %>"/>
                  <ul id="select_episode">
                    <%= render :partial => 'select_unit' %>
                  </ul>
                </div>
              </th>
              <th width="150">
                <div class="div_select">
                  <div class="tag_select"><span><%= @question_types.blank? ? "题型" : Question::TYPES_NAME[@question_types.to_i] %></span></div>
                  <input name="question_types" type="text" value="<%= @question_types if @question_types %>" />
                  <ul id="select_question">
                    <li>题型</li>
                    <li index_id="<%= Question::TYPES[:LISTENING] %>"><%= Question::TYPES_NAME[0] %></li>
                    <li index_id="<%= Question::TYPES[:READING] %>"><%= Question::TYPES_NAME[1] %></li>
                    <li index_id="<%= Question::TYPES[:TIME_LIMIT] %>"><%= Question::TYPES_NAME[2] %></li>
                    <li index_id="<%= Question::TYPES[:SELECTING] %>"><%= Question::TYPES_NAME[3] %></li>
                    <li index_id="<%= Question::TYPES[:LINING] %>"><%= Question::TYPES_NAME[4] %></li>
                    <li index_id="<%= Question::TYPES[:CLOZE] %>"><%= Question::TYPES_NAME[5] %></li>
                    <li index_id="<%= Question::TYPES[:SORT] %>"><%= Question::TYPES_NAME[6] %></li>
                  </ul>
                </div>
              </th>
              <th>名称</th>
              <th>创建时间</th>
              <th>编辑</th>
              <th>删除</th>
            </tr>
          </thead>
          <tbody id="share_question_list">
            <%= render :partial => 'share_question_list' %>
          </tbody>

        </table>
        <div class="paginate_manages">
          <%= render :partial => 'paginate_manages' %>
        </div>
      </div>
    </div>
  </div>
</div>