<script type="text/javascript" src="/assets/jquery.jqtransform.js"></script>
<link href="/assets/jqtransform.css" rel="stylesheet" type="text/css"/>
<script language="javascript">
	$(function(){
		$('.select_box').jqTransform();
	});
</script>
<%= form_tag({:controller => :students, :action => :update_class}) do %>
        <div class="tab tab500" style="display: block;margin: auto;position: static; ">
	<a href="javascript:void(0);" class="close" style="left: 701px;">close</a>
	<div class="tab_head">编辑班级</div>
        <div class="tab_body clearAfter">
          <div class="tab_warning">请更新您的班级信息</div>
          <div class="tab_setClass">
            <ul>
              <li>
                <div class="select_box">
                  <div class="rowElem">
                    <select id="teaching_material_id" style="width: 240px" name="teaching_material_id">
                      <option value="0" selected="selected">请选择</option>
                      <% @teachering_materials.each do |m| %>
                        <option value="<%= m.id %>" <%= "selected" if m.id == @school_class.teaching_material_id %> ><%= m.name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </li>
              <li>
                <input id="class_name" name="class_name" type="text" placeholder="班级名称" value="<%=@school_class.name%>" />
              </li>
              <li>
                <input id="period_of_validity" name="period_of_validity" placeholder="选择结束时间" readonly="readonly" value="<%=@school_class.period_of_validity.strftime "%Y-%m-%d %H:%M:%S"%>" type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'%y-%M-%d'})" />
              </li>
            </ul>
            <div class="tab_switch_btn"> <button style="background: #dd5c05;color: white;width: 100px;"  type="button" onclick="check_class_info();">确认</button></div>
          </div>
        </div>
      </div>

  <input id="submit_class_info"  style="display: none;" value="更新" type="submit"/>
<% end %>