<div class="student_table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <% @student_situations.each do |student_situation| %>
      <tr>
        <td>
          <div class="td_student_img">
            <img src="<%= student_situation[:avatar_url] %>" width="90" height="90"/>
            <%=link_to "删除学员","/school_classes/#{school_class_id}/students/delete_student?student_id=#{student_situation[:student_id]}",:confirm => "确定删除？",:class =>'td_delete_a tooltip_html' %>
          </div>
          <div class="td_student_text">
            <ul>
              <li><span>姓名：</span><%= student_situation[:user_name]%></li>
              <li><span>昵称：</span><%= student_situation[:nickname]%></li>
              <li><span>入学时间：</span><%=  student_situation[:created_at].nil? ? ""  : student_situation[:created_at].strftime("%F")%></li>
              <li><span>所在小组：</span><%= student_situation[:tag_name].nil? ? "未分组": student_situation[:tag_name]%>
                <a href="javascript:void(0)" class="student_text_a" onclick="delete_student_tag(this,<%= school_class_id %>,<%= student_situation[:student_id] %>)"><%= student_situation[:tag_name].nil? ? "分组" : "重新分组" %></a>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <p>未交作业次数：<%= student_situation[:unfinished]%></p>
          <p>平均正确率：<%= number_to_percentage(student_situation[:correct_rate],precision:0) %></p>
        </td>
        <td>
          <div class="award">
            <ul>
              <li class="award01 tooltip_title" title="<%= ArchivementsRecord::TYPES_NAME[0] %>">LV.<%= student_situation[:archive_pefect].nil? ? 0 : student_situation[:archive_pefect].archivement_score/200 %></li>
              <li class="award02 tooltip_title" title="<%= ArchivementsRecord::TYPES_NAME[1] %>">LV.<%= student_situation[:archive_accuraie].nil? ? 0 : student_situation[:archive_accuraie].archivement_score/200 %></li>
              <li class="award03 tooltip_title" title="<%= ArchivementsRecord::TYPES_NAME[2] %>">LV.<%= student_situation[:archive_quickly].nil? ? 0 : student_situation[:archive_quickly].archivement_score/200 %></li>
              <li class="award04 tooltip_title" title="<%= ArchivementsRecord::TYPES_NAME[3] %>">LV.<%= student_situation[:archive_early].nil? ? 0 : student_situation[:archive_early].archivement_score/200 %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>