<div class="tab tab500 created_new_class" style="display :none">
  <span class="close">关闭</span>
  <div class="tab_con">
    <div class="tab_ul">
      <ul>
        <li>
          <p>选择教材</p>
          <select name="teaching_material_id">
            <% @teachingmaterial.each   do |teachingmaterial| %>
              <option value="<%= teachingmaterial.id%>"><%= teachingmaterial.name %></option>
            <% end %>
          </select>
        </li>
        <li>
          <p>输入班级名称</p>
          <input name="class_name" type="text"/>
        </li>
        <li>
          <p>选择结束时间</p>
          <input type="text" name="period_of_validity" id="started_at" value=""class="Wdate" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'%y-%M-%d'})"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button class="green_btn" onclick="create_school_class(<%= @schoolclass[0].id %>)">确认</button></div>
</div>


<div class="tab tab500 create_new_tag" style="display :none">
  <a href="javascript:void(0);" class="close" >close</a>
  <div class="tab_head">班级分组</div>
  <div class="tab_con">
    <div class="tab_switch">
      <ul style="text-align :center;">
        <%= form_for :tags,:url => {:controller => 'tags',:action => 'create'},remote: :TRUE do |f| %>
          <li class="p_input">
            <p>组名：</p>
            <input name="name_tag" type="text" style="display: none;" />
          </li>
          <input type="submit"  class="button_submit" value="创建"/>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<div class="main">
  <div class="student">
    <div class="student_head">
      <h1>新概念英语二班</h1>
      <ul>
        <% if  @schoolclass %>
          <li><span>班级名称：</span><%= @schoolclass[0].name %></li>
          <li><span>验证码：</span><%= @schoolclass[0].verification_code %></li>
          <li><span>结业时间：</span><%= @schoolclass[0].period_of_validity.strftime("%F") %></li>
          <li><span>班级人数：</span><%= @schoolclass[0].count %></li>
          <li><span>班级分组：</span> <% if @tags %>
              <% @tags.each do |tag| %><%= tag.name %> <% end %>
            <% end %></li>
        <% end %>
      </ul>
      <a href="javascript:void(0);" class="student_btn_a" onclick="shwo_tags()">班级分组</a>
    </div>
    <div class="message">
      <% if @ungrouped.count > 0 %>
        <p>注：本班有学员未分组，为保证学员能够顺利做作业，请将未分组学员进行分组。</p><a href="#" class="close">close</a>
      <% end %>
    </div>
    <div class="student_body">
      <%= render :partial => 'student_body'  %>
    </div>
  </div>
</div>
<%= will_paginate @student_situations,remote:true,:previous_label=>'上一页',:next_label=>'下一页' %>

<div class="tab tab500 school_class_list">
  <%= render :partial => 'school_class_list' %>
</div>

<div class="tab tab500 tag_list">
  <%=render :partial => "/tags/tag_list"%>
</div>

<div class="tab tab500 student_tag_list">

</div>

<div class="tab tab500 regrouping">

</div>