<div class="tab tab500 create_new_tag" style="display :none">
  <a href="javascript:void(0);" class="close" >close</a>
  <div class="tab_head">班级分组</div>
  <div class="tab_con">
    <div class="tab_switch">
      <%= form_for :tags,:url => {:controller => 'tags',:action => 'create'},remote: :TRUE do |f| %>
        <ul style="text-align :center; border: 0;">
          <li class="p_input">
            <p></p>
            <input name="name_tag" type="text" style="display: none;" placeholder="组名" />
          </li>         
        </ul>
        <div class="tab_switch_btn">
          <a href="javascript:void(0)" onclick="create_class_valid(this)">创建</a>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="main">
  <div class="student">
    <div class="student_head">
      <h1><%= @schoolclass.name %>
        <a href="/school_classes/<%=@schoolclass.id%>/students/edit_class" class="amendName tooltip_html" data-remote="true">修改班级名称</a>
      </h1>
      <ul>
        <% if  @schoolclass %>
          <li><span>班级名称：</span><%= @schoolclass.name %></li>
          <li><span>验证码：</span><%= @schoolclass.verification_code %></li>
          <li><span>结业时间：</span><%= @schoolclass.period_of_validity.strftime("%F") %></li>
          <li><span>班级人数：</span><%= @schoolclass.count %></li>
          <li><span>班级分组：</span> <% if @tags %><%= @tags.map(&:name).join(",") %><% end %></li>
        <% end %>
      </ul>
      <a href="javascript:void(0);" class="student_btn_a" onclick="shwo_tags()">班级分组</a>
    </div>
    <% if cookies[:student_has_ungrouped]=="true" %>
      <div class="message">
        <p>注：本班有学员未分组，为保证学员能够顺利做作业，请将未分组学员进行分组。</p>
        <a href="javascript:void(0)" class="close" onclick="close_student_ungrouped_mess(<%= @school_class.id %>,this)">close</a>
      </div>
    <% end %>
    <div class="student_body">
      <%= render :partial => 'student_body'  %>
    </div>
  </div>
</div>
<%= will_paginate @student_situations,remote:true,:previous_label=>'上一页',:next_label=>'下一页' %>


<div id = "edit_class_area" style="position:absolute;top: 65px;width: 960px;overflow: auto;">
</div>




<div class="tab tab500 tag_list">
  <%=render :partial => "/tags/tag_list"%>
</div>

<div class="tab tab500 student_tag_list">

</div>

<div class="tab tab500 regrouping">

</div>