<script type="text/javascript" src="/assets/jquery.jqtransform.js"></script>
<link href="/assets/jqtransform.css" rel="stylesheet" type="text/css"/>
<%= stylesheet_link_tag    "/assets/dictations/style.css" %>
<script language="javascript">
  $(function(){
    $('.select_box').jqTransform();
    $(".select_tm").hide();
    $(".select_tm").first().show().find("select").attr("disabled", "disabled");
  });
</script>

    <!-- 第一步 选科目 -->
    <div class="cen_box" id="first_stp">
      <h1>选择课程</h1>
      <div class="cen_cont">
        <% @courses.each do |course| %>
        <span class="block_s" id="<%= course.id%>"><%= course.name %></span>
        <% end %>
      </div>
      <div class="cen_act">
        <button>确定</button>
      </div>
    </div>

    <!-- 第二步 选教材 -->
    <div class="cen_box">
      <h1>选择教材</h1>
      <div class="cen_cont">
        <p>
          <label>选择年级：</label>
          <select>
            <%= SchoolClass::LEVEL.each do |k, v| %>
            <option value="<%= v %>"><%= SchoolClass::LEVEL_NAME[v] %></option>
            <% end %>
          </select>
        </p>
        <p>
          <label>选择教材：</label>
          <select multiple="0">
            <option>一年级上语文</option>
            <option>一年级上语文</option>
            <option>一年级上语文</option>
            <option>一年级上语文</option>
            <option>一年级上语文</option>
          </select>
        </p>
      </div>
      <div class="cen_act">
        <button>确定</button>
      </div>
    </div>
    
    <!-- 添加教材 -->
    <div class="tab tab500" id="add_teaching_material">
      <a href="javascript:void(0);" class="close">close</a>
      <div class="tab_head">添加教材</div>
      <div class="tab_body clearAfter" style="overflow-y:inherit;">
        <div class="tab_setClass">
          <div class="tab_setClass_step">
            <h2>添加教材</h2>
          </div>
          <ul>
            <li>
              <input name="teaching_material_name" class="tm_name" placeholder="教材名称"/>
            </li>
          </ul>
        </div>
        <div class="tab_btn"><button type="button" onclick="saveTM(this)">完成</button></div>
      </div>
    </div>

    <!-- 第三步 名称，截止时间 -->
    <%= form_tag({:controller => :welcome, :action => :create_first_class}, :remote => true) do %>
      <div class="cen_box">
        <h1>创建班级</h1>
        <div class="cen_cont">
          <h2>教材1</h2>
          <p>
            <label>创建班级：</label>
            <input type="text">
          </p>
        </div>
        <div class="cen_act">
          <button>确定</button>
        </div>
      </div>
    <% end %>

<script>
  $(document).ready(function(){
    $(".cen_cont").find("span").click(function(){
      $(".cen_cont").find("span").removeClass("hover");
      $(this).addClass("hover");
    })
    popup("#first_stp");
  })
</script>