<% if !@current_task.nil? %>
    <div class="sb_classify">
      <ul>
        <li class="complete">
          <h1>完成率</h1>
          <div class="statistics_img">
            <span><%= @average_complete_rate  %>%</span>
            <canvas id="cv01" height="200" width="200" ></canvas>
          </div>
          <div class="sc_nav"><a href="javascript:void(0);" class="hover" onclick="click_complete_btn(this)">学员</a></div>
        </li>
        <li class="correct">
          <h1>正确率</h1>
          <div class="statistics_img">
            <span><%= @average_correct_rate  %>%</span>
            <canvas id="cv02" height="200" width="200"></canvas>
          </div>
          <div class="sc_nav"><a href="javascript:void(0);" onclick="click_correct_btn(this)">学员</a>
            <a href="javascript:void(0);"
               onclick="shou_question_status(this,'<%= @current_task.id %>',
                       '<%= params[:school_class_id] %>')">题型
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="b_table" onloadstart="load()">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="complete_table">
        <thead>
        <tr>
          <th width="200">学员</th>
          <% if @question_types.nil? %>
              <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <% else %>
              <% @question_types.each do |type| %>
                  <th><%= Question::TYPES_NAME[type.to_i]  %></th>
              <% end %>
          <% end %>
          <th><a href="javascript:void(0);" class="th_sort tooltip_title" title="点击排序">完成率</a></th>
        </tr>
        </thead>
        <tbody>
        <% if @students.nil?%>
            <tr><td colspan="3" style="width: auto; text-align: center;">暂无数据</td></tr>
        <% else %>
            <% @students.each do |student|  %>
                <tr>
                  <td width="200"><div class="td_user"><img src="<%= student.avatar_url %>"><%= student.name %></div></td>
                  <% if !@question_types.nil? %>
                      <% @question_types.each do |type| %>
                          <% if @record_details.nil? %>
                              <td><em>-</em></td>
                          <% else %>
                              <% sar = @student_answer_records[student.id].first  %>
                              <% if sar.present? %>
                                <% if @record_details[sar.id].present? %>                                  
                                      <% if @record_details[sar.id][type].present? %>
                                        <% if @record_details[sar.id][type.to_i].first.is_complete == 1 %>
                                            <td><img src="/assets/d.png"><em><%= @record_details[sar.id][type.to_i].first.used_time %></M></em></td>
                                        <% else %>   
                                            <td><em>-</em></td> 
                                        <% end %>
                                      <% else %>   
                                            <td><em>-</em></td>   
                                      <% end %>  
                                    </div>                              
                                <% end %>
                              <% else %>
                                  <td><em>-</em></td>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% else %>
                      <td>暂无数据</td>
                  <% end %>
                  <td><%= @student_answer_records[student.id].present? && @student_answer_records[student.id].first.average_complete_rate >= 0 ? "#{@student_answer_records[student.id].first.average_complete_rate}%" : "-" %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="correct_table" style="display: none;">
        <thead>
        <tr>
          <th width="200">学员</th>
          <% if @question_types.nil? %>
              <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <% else %>
              <% @question_types.each do |type| %>
                  <th><%= Question::TYPES_NAME[type.to_i]  %></th>
              <% end %>
          <% end %>
          <th><a href="javascript:void(0);" class="th_sort tooltip_title" title="点击排序">正确率</a></th>
        </tr>
        </thead>
        <tbody>
        <% if @students.nil? || (!@students.nil? && @students.length == 0) %>
            <tr><td colspan="3" style="width: auto; text-align: center;">暂无数据</td></tr>
        <% else %>
            <% @students.each do |student|  %>
                <tr>
                  <td width="200"><div class="td_user"><img src="<%= student.avatar_url %>"><%= student.name %></div></td>
                  <% if !@question_types.nil? %>
                      <% @question_types.each do |type| %>
                          <% if @record_details.nil? %>
                              <td><em>-</em></td>
                          <% else %>
                              <% sar = @student_answer_records[student.id].first  %>
                              <% if sar.present? %>
                                <% if @record_details[sar.id].present? %>
                                      <% if @record_details[sar.id][type].present? %>                                        
                                        <% if @record_details[sar.id][type.to_i].first.correct_rate < 100 %>
                                           <td><div class="td_ratio"> <a href="javascript:void(0);" class="td_seeQuestion tooltip_html" onclick="shou_incorrect_que('<%= type.to_i %>','<%= sar.id %>', '<%= params[:school_class_id] %>')">点击查看</a></div><em>
                                           <%= @record_details[sar.id][type].present? ? "#{@record_details[sar.id][type.to_i].first.used_time}%" :  "" %></M></em></td>
                                        <% else %>
                                            <td><em>-</em></td> 
                                        <% end %>
                                      <% else %>
                                        <td><em>-</em></td>   
                                      <% end %>  
                                    
                                <% else %>
                                  <td><em>-</em></td>  
                                <% end %>
                              <% else %>
                                  <td><em>-</em></td>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% else %>
                      <td>暂无数据</td>
                  <% end %>
                  <td><%= @student_answer_records[student.id].present? && @student_answer_records[student.id].first.average_correct_rate >= 0 ? "#{@student_answer_records[student.id].first.average_correct_rate}%" : "-" %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
<% else %>

    <div class="b_table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tr style="height: 300px;">
        <td style="text-align: center">暂无数据</td>
      </tr>
    </table>
    </div>
<% end %>
<script>
    $(document).ready(function(){
        if($("#cv02").length > 0)
        {
            load(<%= @average_complete_rate %>,<%= @average_correct_rate %>);
        }
        $("#complete_table").tablesorter();
        $("#correct_table").tablesorter();
    });
   function click_complete_btn(obj){
        $(".sc_nav a").removeAttr("class");
        $(obj).attr("class", "hover");
        $(".b_table .sb_item_list").remove();
        $("#correct_table").hide();
        $("#complete_table").show();
    }

    function click_correct_btn(obj){
        $(".sc_nav a").removeAttr("class");
        $(obj).attr("class", "hover");
        $(".b_table .sb_item_list").remove();
        $("#complete_table").hide();
        $("#correct_table").show();
    }
</script>