<% if @question_types.present? && @question_types.class == Array %>
  <% @question_types.each do  |quetion_type| %>
  <div class="sb_item_list">
    <div class="item_name">
      <div class="<%= questions_img_class(quetion_type) %>"></div>
      <div ></div>
      <h2><%= Question::TYPES_NAME[quetion_type]  %></h2>
      <p>平均正确率：
        <% if @use_times[quetion_type] %>
            <%= @use_times[quetion_type][0][:correct_rate] %>%
        <% else %>
            暂无数据
        <% end %>
      </p>
      <p>平均用时：
        <% if @use_times[quetion_type] %>
            <%= @use_times[quetion_type][0][:use_time] %>秒
        <% else %>
            暂无数据
        <% end %>
      </p>
    </div>
    <div class="item_content">
      <% if @questions[quetion_type].present?  %>
      <ul>
            <% count=1 %>
            <% @questions[quetion_type].each do |que| %>
            <li class="<%= correct_rate_color que[:average_correct_rate] %>"><span><%= count %></span><a href="javascript:void(0);" class="tooltip_title" title="点击查看" onclick="show_tags('<%= que[:id] %>','<%= params[:school_class_id] %>')">标签</a>
              <p title="点击查看原题" onclick="show_que('<%= que[:id] %>','<%= params[:school_class_id] %>')" style="cursor:pointer;">
              <% if que[:average_correct_rate] && que[:average_correct_rate] >= 0%>
                <%= que[:average_correct_rate] %>%
              <% else %>
                暂无数据
              <% end %>
              </p>
            </li>
                <% count+=1 %>
            <% end %>
      </ul>
      <% else %>
          暂无数据
      <% end %>
    </div>
  </div>
  <% end %>

<div class="s_tab">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">标签</div>
  <div id="tag_area"></div>
  
</div>

<script>
    //统计-正确率-题型
    $(document).ready(function(){
        $(".item_content li a").click(function(e){
            
                $(".s_tab").css('display','block');
                $(".s_tab").css({
                    'top':(e.pageY)+'px',
                    'left':(e.pageX)+'px'
                });

        });
    })
    $(".s_tab .close").click(function(){
        $(this).parents(".s_tab").css("display","none");
        $("#tag_display_control").val(0);
    })
</script>
<% else%>
    <div id="no_date" class="b_table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" >
        <tr style="height: 300px;">
          <td style="text-align: center">暂无数据</td>
        </tr>
      </table>
    </div>
<% end %>