<% if @question_types.present? %>
  <% @question_types.each do  |type| %>
  <div class="sb_item_list">
    <div class="item_name">
      <div class="<%= questions_img_class(type) %>"></div>
      <div ></div>
      <h2><%= Question::TYPES_NAME[type]  %></h2>
      <p>平均正确率：
        <% if @types_rate.present? %>
            <%= @types_rate[type].present? ? "#{(eval(@types_rate[type].join('+'))/@types_rate[type].length)}%" : "暂无数据" %>
        <% else %>
            暂无数据
        <% end %>
      </p>
      <p>平均用时：
        <% if @used_times.present? %>
            <%= @used_times[type].present? ? "#{eval(@used_times[type].join('+'))/@used_times[type].length}秒" : "暂无数据" %>
        <% else %>
            暂无数据
        <% end %>
      </p>
    </div>
    <div class="item_content">
      <% if @questions[type].present? %>
        <% count=1 %>
        <% @questions[type].each do |que| %>
          <% if @branch_questions[que.id].present? %>
            <% @branch_questions[que.id].each do |bq| %>
                <% avg_correct_rate = @questions_answers[bq.id].present? ? eval(@questions_answers[bq.id].join('+'))/@questions_answers[bq.id].length : -1 %> 
                <li class="<%= correct_rate_color avg_correct_rate %>"><span><%= count %></span><a href="javascript:void(0);" class="tooltip_title" title="点击查看" onclick="show_tags('<%= bq.id %>','<%= params[:school_class_id] %>')">标签</a>
                  <p title="点击查看原题" onclick="show_que('<%= bq.id %>', '<%= type %>', '<%= params[:school_class_id] %>')" style="cursor:pointer;">
                  <% if avg_correct_rate && avg_correct_rate >= 0 %>
                    <%= avg_correct_rate %>%
                  <% else %>
                    暂无数据
                  <% end %>
                  </p>
                </li>
                <% count+=1 %>
            <% end %>
          <% end %>     
        <% end %>  
      <% end %>    
    </div>
  </div>
  <% end %>

<div class="s_tab" id="tag_panel">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">标签</div>
  <div id="tag_area"></div>
  
</div>
<script>
    //统计-正确率-题型
    $(document).ready(function(){
        $(".item_content li a").click(function(e){
            
                $("#tag_panel").css('display','block');
                $("#tag_panel").css({
                    'top':(e.pageY)+'px',
                    'left':(e.pageX)+'px'
                });

        });
    })
    $("#tag_panel .close").click(function(){
        $(this).parents("#tag_panel").css("display","none");
    })
</script>
<% else%>
    <div id="no_date" class="b_table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" >
        <tr style="height: 300px;">
          <td style="text-align: center">暂无数据</td>
        </tr>
      </table>
    </div>
<% end %>