<div class="statistics_head">
  <% if !@all_tags.nil? && @all_tags.length != 0  %>
      <div class="sh_choose">
        <% @all_tags.each do |tag| %>
            <a href="javascript:void(0);" onclick="show_tag(this,'<%= params[:school_class_id] %>','<%= tag[:pub_id] %>')"  class="<%= (@current_task.id == tag[:pub_id])  ? "hover"  : "" %>">
              <%= tag[:tag_name] %>
            </a>
        <% end %>
      </div>
  <% end %>
  <div class="sh_date">
    <input id="today_date" type="hidden"  value="<%= @today_date %>"/>
    <input id="current_date" type="hidden" value="<%= @current_date %>" />
    <span class="prev" onclick="checkout_date(this,'<%= params[:school_class_id] %>')" >prev</span>
    <p>
      <% if @current_task.nil? %>
          <% if @current_date.nil? %>
            <%= "#{@today_date.to_s.gsub("-",'/')}当日无作业" %>
          <% else %>
            <%= "#{@current_date.to_s.gsub("-",'/')}当日无作业" %>
          <% end %>
      <% else %>
        <%= "#{@current_task.created_at.strftime("%Y/%m/%d")}作业完成情况" %>
      <% end %>
    </p>
    <span class="next" onclick="checkout_date(this,'<%= params[:school_class_id] %>')" >next</span>
  </div>
  <div class="sh_dateIcon">
    <input id="datepick_er"  type="hidden" onchange="show_date_status($(this).val(),'<%= params[:school_class_id] %>');"  readonly/>
    <a href="javascript:void(0)" id="ssss" class="tooltip_html" onclick="WdatePicker({el:'datepick_er',dateFmt:'yyyy-MM-dd',onpicked:pickedFunc})" >选择日期</a>
  </div>
</div>
<div class="statistics_body">
    <%= render :partial => "statistics/data_area"%>
</div>
<script>

function pickedFunc()
{
    var y = $dp.cal.getP('y');
    var m = $dp.cal.getP('M');
    var d = $dp.cal.getP('d');
    var date = y + "-" + m + "-" + d;
    show_date_status(date,'<%= params[:school_class_id] %>');
}
</script>