<%= javascript_include_tag "bootstrap-datetimepicker", "bootstrap-datetimepicker.zh-CN", "bootstrap.min" %>
<%=  stylesheet_link_tag "new/bootstrap/bootstrap.min.css", :rel=>"stylesheet", :media=>"screen" %>
<%=  stylesheet_link_tag "new/bootstrap/bootstrap-datetimepicker.min.css", :rel=>"stylesheet", :media=>"screen"%>
<div class="statistics_head">
  <% if !@all_tags.nil? && @all_tags.length != 0  %>
      <div class="sh_choose">
        <% @all_tags.each do |tag| %>
            <% if tag[:tag_name]  == @all_tags[0][:tag_name]%>
                <a href="javascript:void(0);" onclick="show_tag(this,'<%= params[:school_class_id] %>','<%= tag[:created_at].strftime("%Y-%m-%d") %>','<%= tag[:tag_id] %>','<%= tag[:pub_id] %>')" class="hover">
                  <%= tag[:tag_name] %>
                </a>
            <% else %>
                <a href="javascript:void(0);" onclick="show_tag(this,'<%= params[:school_class_id] %>','<%= tag[:created_at].strftime("%Y-%m-%d") %>','<%= tag[:tag_id] %>','<%= tag[:pub_id] %>')" >
                  <%= tag[:tag_name] %>
                </a>
            <% end %>
        <% end %>
      </div>
  <% end %>
  <div class="sh_date">
    <input id="today_date" type="hidden"  value="<%= @today_date %>">
    <input id="current_date" type="hidden" value="<%= @current_date %>" >
    <span class="prev" onclick="checkout_date(this,'<%= params[:school_class_id] %>')" >prev</span>
    <p>
      <% if @current_task.nil? %>
          <% if @current_date.nil? %>
            <%= "#{@today_date.to_s.gsub("-",'/')}当日无作业" %>
          <% else %>
            <%= "#{@current_date.to_s.gsub("-",'/')}当日无作业" %>
          <% end %>
      <% else %>
        <%= "#{@current_task.created_at.strftime("%Y/%m/%d")}作业完成情况" %>
      <% end %>
    </p>
    <span class="next" onclick="checkout_date(this,'<%= params[:school_class_id] %>')" >next</span>
  </div>
  <div class="sh_dateIcon">
    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
      <input size="16" type="hidden" value="" onchange="show_date_status(this,'<%= params[:school_class_id] %>');" readonly>
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>
</div>
<div class="statistics_body">
    <%= render :partial => "statistics/data_area"%>
</div>
<script>
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>