<div class="main">
  <div class="controller">
      <div class="controller_head">
          <a href="javascript:void(0)" class="addController_btn_a" onclick="show_quota_consumptions_panel(<%= @teacher.id %>)">购买配额</a>
          <div class="quotaLoading">
              <ul>
                  <li class="quotaLoading_bg"><p style="width: 50%;"></p></li>
                    <li><%= @school.used_school_counts %>/<%= @school.students_count %></li>
                </ul>
            </div>
        </div>
        <div class="controller_body">
            <div class="b_table">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                 <thead>
                  <tr>
                    <th>学生姓名</th>
                    <th>学号</th>
                    <th>所属班级</th>
                    <th>加入时间</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @quota_consumptions.each do |record| %>
                  <tr>
                    <td><%= record.name %></td>
                    <td><%= record.s_no %></td>
                    <td><%= record.class_name %></td>
                    <td><%= record.created_at.strftime("%Y-%m-%d")%></td>
                  </tr>
                  <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function(){
    var used_school_counts = <%= @school.used_school_counts%>;
    var students_count = <%= @school.students_count %>;
    var m_width = $(".quotaLoading_bg").width();
    var width =  m_width*used_school_counts/students_count;
    tishi(width);
    $(".quotaLoading_bg").find("p").css("width",width);
  })
</script>

<div class="tab" style="display:none;" id="quota_consumptions">
</div>