
<div class="assignment_body_list">
  <div class="ab_list_title" >
    <input type="hidden" name="question_id" class= "question_id" value="<%=@question.id%>" />
    <input type="hidden" name="question_type"   value="cloze" />
    <input type="hidden" class="wanxin_index"   value="<%=@wanxin_index%>" />
    <h1><%=@question.name.nil? ? "未命名":@question.name %></h1>
    <p>完形 / <%=current_user.name%> / <%=@question.created_at.strftime("%Y-%m-%d")%> / <span name=cankaoshijian>参考时间：
        <% que_time = trans_int_to_time(@question.questions_time.to_i) %>
        <% if @question.questions_time.nil? %>未指定<% else %>
          <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %>
      </span></p>
    <ul class="ab_func">
      <li><a href="javascript:void(0);" class="clock_icon tooltip_html"  >设定时间</a></li>
      <li><a href="javascript:void(0);" class="save_icon tooltip_html" onclick="wanxin_save_btn(this)">保存</a></li>
      <li><a href="javascript:void(0);" class="share_icon tooltip_html">分享</a></li>
      <li><a href="javascript:void(0);" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <div class="ab_article">
      <div class="questions_item">
        <div class="gapFilling_textarea">
          <textarea id="wanxin_<%=@question.id%>" name="wanxin_content" class="wanxin_content"><%=@question.full_text%></textarea>

        </div>
        <div class="gapFilling_box">
          <%if controller.action_name=='new_index'%>
            <%=render 'wanxin/gapfilling_questions',
              {:@branch_ques => (branch_questions ),
              :@tags_w =>(branch_tags ),
              :@school_class=>@school_class,
              :@question_packages=>@question_packages}%>
          <%else%>
            <%=render 'wanxin/gapfilling_questions'%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  full_text(<%=@question.id%>);
</script>
