
<div class="assignment_body_list">
  <div class="ab_list_title" >
    <input type="hidden" name="question_id" class= "question_id" value="<%=@question.id%>" />
    <input type="hidden" name="question_type"   value="cloze" />
    <input type="hidden" class="wanxin_index"   value="<%=@wanxin_index%>" />
    <h1>完形
      <% if @question.is_a?(ShareQuestion) %>
        <%= "(#{share_question_title(@question.try(:id),@question.name)})".html_safe %>
      <% else %>
        <%=@question.name.nil? ? "" : "(#{@question.name})" %>
      <% end %>
    </h1>
    <p><%=current_user.name%> / <%=@question.created_at.strftime("%Y-%m-%d")%><% unless @question.is_a?(ShareQuestion) %> / <span name=cankaoshijian>参考时间：
        <% que_time = trans_int_to_time(@question.questions_time.to_i) %>
        <% if @question.questions_time.nil? %>未设置<% else %>
          <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %>
      </span><% end %>
    </p>
    <ul class="ab_func">
      <% unless @question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0);" class="clock_icon tooltip_html"  >设定时间</a></li>
      <% end %>
      <li><a href="javascript:void(0);" class="save_icon wanxin_save_icon tooltip_html">保存</a></li>
      <% unless @question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0);" class="<%= is_shared(@question) %> tooltip_html">分享</a></li>
      <% end %>
      <li><a href="javascript:void(0);" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <div class="ab_article">
      <div class="questions_item">
        <div class="gapFilling_textarea">
          <textarea id="wanxin_<%=@question.id%>" name="wanxin_content" class="wanxin_content"><%=@question.full_text%></textarea>

        </div>
        <div class="gapFilling_box">
          <%if controller.action_name=='new_index' || controller.action_name == 'edit_share_question' || controller_name=="teacher_question_manages"%>
          <%=render 'wanxin/gapfilling_questions',
              {:@branch_ques => (branch_questions ),
              :@tags_w =>(branch_tags ),
              :@school_class=>@school_class,
              :@question_packages=>@question_packages}%>
          <%else%>
            <%=render 'wanxin/gapfilling_questions'%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <script>
    //full_text(<%#=@question.id%>);
$(function(){
  $(".wanxin_save_icon").click(function(){
    wanxin_save_btn(this)
    return false;
  })
  
})

    var editor = KindEditor.create("#wanxin_"+<%=@question.id%>, {
      id : "wanxin_"+<%=@question.id%>,
      width : '420px',
      height : '600px',
      minWidth : '370px',
      items : ['mark'],
      afterCreate : function() {
        this.sync();
      },
      afterBlur: function(){
        this.sync();
      }//同步KindEditor的值到textarea文本框
    });
  </script>

</div>
