<%= stylesheet_link_tag    "/assets/dictations/style.css" %>
<%= javascript_include_tag "/assets/dictations/date_picker_homemade.js" %>
<%= javascript_include_tag "/assets/dictations/main.js" %>
<div class="main">
    	<div class="assignment question_package">
        	<div class="assignment_head" style="text-align: left; position: relative;">
				<h1>布置作业</h1>
                <a href="#" class="assignment_a">从其他班复制</a>
            </div>
			<div class="assignment_body" style=" background: #fff; overflow: hidden;">
           		<div class="left">
					<ul>
						<% @share_questions.each do |question|%>
							<li><%= question.name %><input class="share_<%= question.id %>" type="hidden" value="share_<%= question.id %>"></li>
						<% end %>
					</ul>
				</div>
				<div class="mid">
					<span class="goto"></span>
					<span class="goback"></span>
				</div>
				<div class="right clearAfter">
					<ul>
						
					</ul>
				</div>
				<div style="text-align: right;">
					<a href="javascript:void(0)" id="prev_btn" style="margin: 5px 25px; color: #36c77b; border-bottom: 1px solid #36c77b;" >预览修改</a>
				</div>
				<div class="act_box">
					<button class="green_btn">布置作业</button>
				</div>
			</div>
        </div>
</div>
<input class="date" type="text" value="<%= @date %>">
<input class="school_class_id" type="text" value="<%= params[:school_class_id] %>">
<input class="question_package_id" type="text" value="<%= @question_pack.id %>">

<div id="add_branch" class="tab tab500" style="display: none;">
</div>

<div id="flashContent" style="display: none; width:300px; height:200px;  position: fixed; z-index:101;">
	<a href="javascript:void(0);" class="close" >close</a>
	<%= render :partial => "homeworks/voice" %>
</div>

<script>
	var jsReady = false;  
	function isReady() {  
	 return jsReady;  
	}  

	function thisMovie(movieName) {  
		if (navigator.appName.indexOf("Microsoft") != -1) {  
		 return window[movieName];  
		} else {  
		 return document[movieName];  
		}  
	}  
	function pageInit() { 
		jsReady = true; 
		
	}

	

	function sendToActionScript(class_id) { 
		thisMovie("mp3File").sendClassId(class_id);
	}

	$(function(){
		$(".assignment_body .left ul").on("click","li",function(){
		 	click_list($(this));
		})

		$(".assignment_body .right ul").on("click","li",function(){
			click_list($(this));
		})

		$(".mid").find(".goto").click(function(){
			move_item($(this));
		})

		$(".mid").find(".goback").click(function(){
			move_item($(this));
		})

		$("#prev_btn").click(function(){
			preview_questions();
		})
	})


</script>
