<% from ||="" %>
<div class="ab_list_box" style="display: none;">
  <div class="ab_article">
    <% branch_questions.each do |bq| %>
      <div class="questions_item">
        <div class="q_topic">
          <div class="multipleChoice">
            <div class="q_left">
              <img src="/assets/multipleChoice.jpg">
            </div>
            <div class="q_right">
              <div class="q_title"><div class="show_text"><p><%= question[:content] %></p><input name="" type="text"></div></div>
              <% if bq.options.present? %>
                <ul>
                  <% bq.options.split(/\;\|\|\;/).each do |option| %>
                    <% if bq.answer.split(/\;\|\|\;/).length > 1%>
                      <li><div class="icheckbox_square-aero <%= bq.answer.split(/\;\|\|\;/).include?(option) ? "checked" : "" %>" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div><div class="show_text"><p><%= option %></p><input name="" type="text"></div></li>
                    <% else %>
                      <li><div class="iradio_square-aero <%= bq.answer.split(/\;\|\|\;/).include?(option) ? "checked" : "" %>" style="position: relative;"><input type="radio" name="iCheck" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins></div><p><%= option %></p></li>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
        <% unless from == "refer" %>
          <div class="qt_icon">
            <a href="#" class="delete tooltip_html">删除</a>
            <a href="#" class="tag tooltip_html">标签</a>
          </div>
        <% end %>
        <% if branch_tags[bq.id].present? %>
          <div class="tag_ul">
            <ul>
              <% branch_tags[bq.id].each do |tag| %>
                <li><p><%= tag.name %></p><a href="#" class="x">X</a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>