<%= javascript_include_tag "teachers"%>
<%= javascript_include_tag "jquery.Jcrop.min"%>
<script language="Javascript">
  <!--
  jQuery(function($){
    // Create variables (in this scope) to hold the API and image size
    var jcrop_api, boundx, boundy;

    $('#cropbox').Jcrop({
      setSelect: [0,0,176,176],
      boxWidth:298,
      minSize:[100,100],
      borderOpacity:0.3,
      dragEdges:true,
      allowSelect:true,
      allowResize:true,
      bgOpacity:0.6,
      aspectRatio:1,
      allowMove:true,
      addClass: 'jcrop-handle',
      onChange: updateCoords,
      onSelect: updateCoords
    },
    function(){

      jcrop_api = this;
    });
    function updateCoords(c)
    {
      $('#x').val(c.x);
      $('#y').val(c.y);
      $('#w').val(c.w);
      $('#h').val(c.h);
    };
    function checkCoords()
    {
      if (parseInt($('#w').val())) return true;
      alert('请选择裁剪区域');
      return false;
    };
  });
  -->
</script>

<div class="rightSide">
  <div class="main">
    <div class="article">
      <h1 class="title">个人信息</h1>
      <div class="user_con">
        <ul class="user_info">
          <%= form_for :teachers, :url => {:action => :upload_avatar,:controller => :teachers},:html => {:multipart => true,:method => :post,onsubmit: "return check_nonempty()"},:remote => true, "data-type" => "script" do|f|  %>
            <li class="avater">
              <div class="avater_default"><img src=<%=  @user.avatar_url%>/></div>
              <a href="javascript:void(0);" class="avater_a">
                <span>点击更换头像</span>
                <input type="file" name="file_upload" id="file_uploads" onchange="upload_avatar(this,<%= @schoolclass.id %>)" />
              </a>
            </li>
            <button type="submit" id="submit_avatar" class="green_btn" style="display :none"></button>
          <% end %>

          <%= form_for :teachers, :url => { :action => :save_updated_teacher, :controller => :teachers},:html => {:multipart => true,:method => :post,onsubmit: "return check_nonempty()"} do|f|%>

            <li class="avater" id="changes_avatar" style="display:none;">
            </li>
            <li><p ><%= @user.name %></p><input name="name" type="text" value="<%= @user.name %>"/></li>
            <li><p ><%= @teacher.email %></p><input name="email" type="text" value="<%= @teacher.email %>"/></li>

            <h1>
              <button type="button" class="green_btn" onclick="show_update_password()">修改密码</button>
              <button type="submit" id="submit_file" class="green_btn">保存更新</button>
            </h1>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="article">
      <h1 class="title">班级信息</h1>
      <div class="user_con">
        <ul class="grade_info">
          <li><p>本班结课时间 ： <%= @schoolclass.period_of_validity.blank? ? @schoolclass.period_of_validity : @schoolclass.period_of_validity.strftime("%Y-%m-%d %H:%M:%S") %></p></li>
          <li><p>本班验证码 ： <%= @schoolclass.verification_code %></p></li>
        </ul>
      </div>
    </div>

    <div class="article">
      <h1 class="title">班级管理</h1>
      <div class="user_con">
        <ul class="grade_manage">
          <li><a href="javascript:void(0);" onclick="show_list_class()">切换班级</a></li>
          <li><a href="javascript:void(0);" onclick="created_new_class()">创建新班级</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>


<div class="tab list_classes" style="display :none">
  <span class="close">关闭</span>
  <div class="tab_con">
    <h1>请选择班级</h1>
    <div class="tab_ul" id="schoolclasses_count" schoolclasses="<%= @schoolclasses.count %>">
      <ul>
        <%  @schoolclasses.each do |schoolclass| %>
          <% if !schoolclass.id.eql?(params[:school_class_id].to_i) %>
            <li><a href="/school_classes/<%= schoolclass.id %>/teachers/chang_class?id=<%=  schoolclass.id%>" class="tab_li_option"><%= schoolclass.name %> </a>
              <%= link_to "删除", "/school_classes/#{params[:school_class_id].to_i}/teachers/destroy_classes?id=#{schoolclass.id}", :class => "delete_trash tooltip", :confirm => "确定删除?" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="tab update_password" style="display :none">
  <span class="close">关闭</span>
  <div class="tab_con">
    <div class="tab_ul">
      <ul>
        <li>
          <p>当前密码</p>
          <input name="password_now" type="password"/>
        </li>
        <li>
          <p>修改密码</p>
          <input name="password_update" type="password"/>
        </li>
        <li>
          <p>重复密码</p>
          <input name="password_update_agin" type="password"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button class="green_btn" onclick="update_password(<%= @schoolclass.id %>)">确认</button></div>
</div>

<div class="tab created_new_class" style="display :none">
  <span class="close">关闭</span>
  <div class="tab_con">
    <div class="tab_ul">
      <ul>
        <li>
          <p>选择教材</p>
          <select name="teaching_material_id">
            <% @teachingmaterial.each   do |teachingmaterial| %>
              <option value="<%= teachingmaterial.id%>"><%= teachingmaterial.name %></option>
            <% end %>
          </select>
        </li>
        <li>
          <p>输入班级名称</p>
          <input name="class_name" type="text"/>
        </li>
        <li>
          <p>选择结束时间</p>
          <input type="text" name="period_of_validity" id="started_at" value=""class="Wdate" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true,minDate:'%y-%M-%d'})"/>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button class="green_btn" onclick="create_school_class(<%= @schoolclass.id %>)">确认</button></div>
</div>

<div class="tab create_success" style="display :none">
  <span class="close">关闭</span>
  <div class="tab_con">
    <h1 class="red">创建班级成功</h1>
    <div class="tab_ul">
      <ul>
        <li><p>班级验证码：777DDDFG662</p></li>
      </ul>
    </div>
  </div>
</div>
<% if flash[:notice] %>
  <script type="text/javascript">
    tishi("<%= flash[:notice] %>");
  </script>
<% end %>

