<div class="b_table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th>创建日期</th>
      <th>题型</th>
      <th>预览</th>
      <th>克隆</th>
      <th>删除</th>
      <th>截止时间</th>
    </tr>
    </thead>
    <tbody>
    <% if @publish_question_packages.blank? %>
        <tr><td colspan="6" style="text-align: center">暂无作业包</td></tr>
    <% else %>
        <% @publish_question_packages.each do |p| %>
            <% if p.publish_question_package_id.nil?  %>
                <tr>
                  <td><%= p.created_at.to_s[0,19] %></td>
                  <td>
                    <%= @all_pack_types_name[p.question_package_id].present? ?  @all_pack_types_name[p.question_package_id][0][:type_name] : "暂无题目" %>
                  </td>
                  <td><a href="/school_classes/<%= school_class_id %>/question_packages/<%= p.question_package_id %>" class="preview_icon tooltip_html">预览</a></td>
                  <td><a href="javascript:void(0);" data-href="/school_classes/<%= school_class_id %>/question_packages/<%= p.question_package_id %>/reference_question_package" class="quote_icon tooltip_html ques_pack_reference">克隆</a></td>
                  <td><%= link_to "删除", "/school_classes/#{school_class_id}/question_packages/#{p.question_package_id}", :method => :delete, :confirm => "确定删除？",:class => "delete_icon tooltip_html" %></td>
                  <td><a href="javascript:void(0);" class="time_icon tooltip_html" onclick="show_publish_task_panel(<%= p.question_package_id %>)" title="点击发布" >截止时间</a></td>
                </tr>
            <% else %>
                <tr>
                  <td><%= p.created_at.to_s[0,19] %></td>
                  <td><p class="tooltip"><%= @all_pack_types_name[p.question_package_id].present? ?  @all_pack_types_name[p.question_package_id][0][:type_name] : "暂无题目" %></p></td>
                  <td><a href="/school_classes/<%= school_class_id %>/question_packages/<%= p.question_package_id %>" class="preview_icon tooltip_html">预览</a></td>
                  <td><a href="javascript:void(0);" data-href="/school_classes/<%= school_class_id %>/question_packages/<%= p.question_package_id %>/reference_question_package" class="quote_icon tooltip_html ques_pack_reference">克隆</a></td>
                  <% if @un_delete_task.include?(p.publish_question_package_id) %>
                      <td><a href="javascript:void(0);" class="delete_icon_ed">删除</a></td>
                  <% else %>
                      <td><a href="javascript:void(0);" class="delete_icon" onclick="delete_packages(<%= p.publish_question_package_id  %>,<%= @school_class.id %>)">删除</a></td>
                  <% end %>
                  <td><%= p.end_time.to_s[0,19] %></td>
                </tr>
            <% end %>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @publish_question_packages,{:class => 'pageTurn', :previous_label => "上一页", :next_label => "下一页"} %>

