<div class="b_table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>教师名称</th>
        <th>执教班级数</th>
        <th>执教学生数</th>
        <th>账户信息</th>
        <th>重置密码</th>
        <th>过户</th>
        <th>停用</th>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.user.name %></td>
          <td><%= teacher.school_classes.length %></td>
          <td><%= teacher.school_classes.length %></td>
          <td><%= teacher.email %>/******</td>
          <td><a href="javascript:void(0);" class="reset_a tooltip_html" onclick="reset_teacher_password(this,<%= teacher.id %>)">重置密码</a></td>
          <td><a href="javascript:void(0);" class="transfer_a tooltip_html" onclick="show_class_transfer(this)">过户</a></td>
          <td><a href="javascript:void(0);" class="blockUp_a tooltip_html">停用</a></td>
        </tr>
      <% end if @teachers  %>
      <tr>
        <td>王丽丽</td>
        <td>2</td>
        <td>82</td>
        <td>wll2014 / ******</td>
        <td><a href="#" class="reset_a tooltip_html">重置密码</a></td>
        <td><a href="#" class="transfer_a tooltip_html">过户</a></td>
        <td><a href="javascript:void(0);" class="blockUp_a tooltip_html">停用</a></td>
      </tr>
      <tr>
        <td>王丽丽</td>
        <td>2</td>
        <td>82</td>
        <td>wll2014 / ******</td>
        <td><a href="#" class="reset_a tooltip_html">重置密码</a></td>
        <td><a href="#" class="transfer_a tooltip_html">过户</a></td>
        <td><a href="javascript:void(0);" class="blockUp_a_ed tooltip_html">启用</a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>