<div class="assignment_body_list" id="question_<%= question.id %>">
  <div class="ab_list_title">
    <% que_time = trans_int_to_time(question.questions_time.to_i) %>
    <h1>
      <%= Question::TYPES_NAME[question.types] %>
      <% if question.is_a?(ShareQuestion) %>
        <%= question.name.present? ? "(#{question.name})" : "(#{share_question_title(question.try(:id))})".html_safe %>
      <% else %>
        <%= question.name.present? ? "(#{question.name})" : "" %>
      <% end %>
    </h1>
    <p><%= user.name %>/ <%= question.created_at.present? ? question.created_at.strftime("%Y-%m-%d") : "未保存" %>/ 
      <span name="cankaoshijian">参考时间：<% if question.questions_time.nil? %>未设置<% else %>
          <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %></span>
    </p>
    <input type="hidden" name="question_id" class="question_id" value="<%= question.id %>"/>
    <ul class="ab_func">
      <!-- <li><a href="javascript:void(0)" class="save_icon tooltip_html">保存</a></li> -->
      <% unless question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0)" class="clock_icon tooltip_html">设定时间</a></li>
        <li><a href="javascript:void(0)" class="<%= is_shared(question) %> tooltip_html">分享</a></li>
      <% end  %>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display:none;">
    <% if question.types == Question::TYPES[:LISTENING] %>
      <div class="batchUpload">
        <%= form_tag("/school_classes/#{school_class_id || 0}/question_packages/inport_lisenting",:method => :post, :multipart => true ,:remote => true) do %>
          <input type="hidden" value="<%= question.id %>" name="question_id"/>
          <input type="hidden" value="" name="question_package_id" class="question_package_id" />
          <a href="javascript:void(0);" class="file_btn"><span>批量上传</span><input name="file" value="" type="file" onchange="upload_lisenting_ques(this)" /></a>
        <% end %>
        <div class="batchUpload_box">
        </div>
      </div>
    <% end %>
    <div class="ab_article">
      <% if @branch_questions && @branch_questions[question.id].present? %>
        <% count_b = 0 %>
        <% @branch_questions[question.id].each do |branch| %>
          <%= render "question_packages/l_r_branch_que" ,{:types => question.types, :question_id => question.id, :resource_url => branch.resource_url, :branch_id => branch.id, :content => branch.content, :count_q => nil, :count_b => count_b } %>
          <% count_b += 1 %>
        <% end %>
        <%= render "question_packages/l_r_branch_que" ,{:types => question.types, :question_id => question.id, :resource_url => nil, :branch_id => nil, :content => nil, :count_q => nil, :count_b => nil } %>
      <% else %>
        <%= render "question_packages/l_r_branch_que" ,{:types => question.types, :question_id => question.id, :resource_url => nil, :branch_id => nil, :content => nil, :count_q => nil, :count_b => nil } %>
      <% end %>
    </div>
  </div>
</div>