<div class="questions_item">
    <div class="q_topic q_willCompile">
      <div class="speedQuestions">
        <ul class="branch_question">
          <li>
            <% if resource_url.present?  %>
              <%= render "voice_tmp", {:resource_url => resource_url} %>
            <% else %>            
              <a href="javascript:void(0)"  onclick="select_audio(this)" class="voice tooltip_title" title="点击上传音频"></a>
            <% end %>
            <% if types == Question::TYPES[:LISTENING] %>
              <%= form_tag({:action => :save_listening}, :multipart => true ,:remote => true) do %>
                <input type="file" name="file" class="file" style="display:none;" onchange="check_audio(this)">
                <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>">
                <input type="hidden" name="branch_id" class="branch_id" value="<%= branch_id.present?  ? branch_id : "" %>">
                <input type="hidden" name="types" class="types" value="<%= types %>">
                <input type="hidden" name="content" class="content" value="<%= content.present?  ? content : "" %>">
                <input type="hidden" name="q_index" class="q_index" value="<%= count_q.present?  ? count_q : "" %>">
                <input type="hidden" name="b_index" class="b_index"  value="<%= count_b.present?  ? count_b : "" %>">
                <input type="hidden" name="tags_id" class="tags_id" value="">
              <% end %>
            <% elsif types == Question::TYPES[:READING] %>
              <%= form_tag({:action => :save_reading}, :multipart => true ,:remote => true) do %>
                <input type="file" name="file" class="file" style="display:none;" onchange="check_audio(this)">
                <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>">
                <input type="hidden" name="branch_id" class="branch_id" value="<%= branch_id.present?  ? branch_id : "" %>">
                <input type="hidden" name="types" class="types" value="<%= types %>">
                <input type="hidden" name="content" class="content" value="<%= content.present?  ? content : "" %>">
                <input type="hidden" name="q_index" class="q_index" value="<%= count_q.present?  ? count_q : "" %>">
                <input type="hidden" name="b_index" class="b_index"  value="<%= count_b.present?  ? count_b : "" %>">
                <input type="hidden" name="tags_id" class="tags_id" value="">
              <% end %>
            <% end %>  
        </li>
          <li class="qt_text">
            <p><%= content.present?  ? content : "" %></p>
            <input class="content" type="text" value="<%= content.present?  ? content : "" %>" onblur="update_listening_reading(this,<%= params[:school_class_id] %>)" >
          </li>
        </ul>
      </div>
    </div>
    <div class="qt_icon">
      <a href="javascript:void(0)" class="save tooltip_html" onclick="save_listening_reading(this,<%= types %>,<%= params[:school_class_id] %>)">保存</a>
      <a href="javascript:void(0)" class="tag tooltip_html" onclick="add_b_tags('listening_and_reading_tags',this)">标签</a>
    </div>
    <div class="tag_ul">
      <ul>
      </ul>
    </div>
</div>