<div class="questions_item">
  <input type="hidden" name="branch_id" class="branch_id" value="<%= branch_id.present?  ? branch_id : "" %>"/>
    <div class="q_topic q_willCompile">
      <div class="speedQuestions">
        <ul class="branch_question">
          <li>
            <% if resource_url.present?  %>
              <%= render "voice_tmp", {:resource_url => resource_url} %>
            <% else %>            
              <a href="javascript:void(0)"  onclick="select_audio(this)" class="voice tooltip_title" title="点击上传音频"></a>
            <% end %>
            <% if types == Question::TYPES[:LISTENING] %>
              <%= form_tag({:action => :save_listening}, :multipart => true ,:remote => true) do %>
                <input type="hidden" name="file" value class="file" style="display:none;"/>
                <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>"/>
                <input type="hidden" name="branch_id" class="branch_id" value="<%= branch_id.present?  ? branch_id : "" %>"/>
                <input type="hidden" name="types" class="types" value="<%= types %>"/>
                <input type="hidden" name="content" class="content" value="<%= content.present?  ? content : "" %>"/>
                <input type="hidden" name="b_index" class="b_index"  value="<%= count_b.present?  ? count_b : "" %>"/>
                <input type="hidden" name="tags_id" class="tags_id" value="<%=  @branch_tags && @branch_tags[question_id].present? && @branch_tags[question_id][branch_id].present? ? "#{@branch_tags[question_id][branch_id].map(&:branch_tag_id)}".gsub('','').gsub(/\[|\]/,'').gsub(/\,/,'|') : "" %>"/>
              <% end %>
            <% elsif types == Question::TYPES[:READING] %>
              <%= form_tag({:action => :save_reading}, :multipart => true ,:remote => true) do %>
                <input type="hidden" name="file" value class="file" style="display:none;"/>
                <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>"/>
                <input type="hidden" name="branch_id" class="branch_id" value="<%= branch_id.present?  ? branch_id : "" %>"/>
                <input type="hidden" name="types" class="types" value="<%= types %>"/>
                <input type="hidden" name="content" class="content" value="<%= content.present?  ? content : "" %>"/>
                <input type="hidden" name="b_index" class="b_index"  value="<%= count_b.present?  ? count_b : "" %>"/>
                <input type="hidden" name="tags_id" class="tags_id" value="<%=  @branch_tags && @branch_tags[question_id].present? && @branch_tags[question_id][branch_id].present? ? "#{@branch_tags[question_id][branch_id].map(&:branch_tag_id)}".gsub('','').gsub(/\[|\]/,'').gsub(/\,/,'|') : "" %>"/>
              <% end %>
            <% end %>  
        </li>
        <li class="qt_text">
          <p><%= content.present?  ? content : "" %></p>
          <input class="content" type="text" value="<%= content.present?  ? content : "" %>" onblur="listening_reading_onblur(this)" onchange="change_text(this)" style="display:none;" />
        </li>
        <li class="upload_voice">
          <%= form_tag({:action => :upload_voice}, :multipart => true ,:remote => true) do %>
            <input type="hidden" name="branch_id" class="branch_id" value="<%= branch_id.present?  ? branch_id : "" %>"/>
            <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>"/>
            <input type="file" name="file" class="tmp_voice" style="display:none;" onchange="check_audio(this)"/>
            <input type="hidden" name="b_index" class="b_index"  value="<%= count_b.present?  ? count_b : "" %>"/>
            <input type="hidden" name="question_package_id" class="question_package_id" value=""/>
          <% end %>
        </li>
      </ul>
      </div>
    </div>
    <div class="qt_icon">
      <% if content.present? %>
        <a href="javascript:void(0)" class="delete tooltip_html" style="" onclick="delete_reading_listening_branch(this)">删除</a>
      <% else %>
        <a href="javascript:void(0)" class="save tooltip_html" onclick="save_listening_reading(this,<%= types %>,<%= params[:school_class_id] %>);">保存</a>
      <% end %>
      <% if branch_id.present? %>
        <a href="javascript:void(0)" class="tag tooltip_html" onclick="add_b_tags('listening_and_reading_tags',this)">标签</a>
      <% end %>
    </div>
    <div class="tag_ul">
      <ul>
        <% if @branch_tags && @branch_tags[question_id].present? && @branch_tags[question_id][branch_id].present? %>
          <% @branch_tags[question_id][branch_id].each do |tag| %>
            <li><p><%= tag[:name] %></p><a href='javascript:void(0)' class='x' onclick='delete_reading_listening_tags(this,<%= tag[:branch_tag_id]%>)'>X</a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>