<div class="assignment_body_list">
  <div class="ab_list_title">
    <h1>未命名</h1>
    <p><%= Question::TYPES_NAME[types] %>/ <%= name %>
      / <%= created_at %>/ 参考时间：
      <% if questions_time.present? %>
        <label><%= questions_time/60 %>'<%= questions_time%60 %></label>
      <% else %>
        <label>未设置</label>
      <% end %>
    </p>
    <ul class="ab_func">
      <li><a href="#" class="clock_icon tooltip_html">设定时间</a></li>
      <li><a href="#" class="save_icon tooltip_html">保存</a></li>
      <li><a href="#" class="share_icon tooltip_html">分享</a></li>
      <li><a href="#" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box">
    <div class="ab_article">
      <%= render "l_r_branch_que" ,{:types => types, :question_id => question_id, :resource_url => nil, :branch_id => nil, :content => nil, :count_q => nil, :count_b => nil } %>
    </div>
  </div>
</div>