<div class="assignment_body_list ab_list_open"  id="question_<%= question.id %>">
  <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>"/>
  <div class="ab_list_title">
    <% que_time = trans_int_to_time(question.questions_time.to_i) %>
    <h1><%= Question::TYPES_NAME[question.types] %>
    <% if question.is_a?(ShareQuestion) %>
       <%= "(#{share_question_title(question.try(:id),question.name)})".html_safe %>
    <% else %>
       <%= question.name.present? ? "(#{question.name})" : "" %>
    <% end %>
    </h1>
    <p><%= user.name %>/ <%= question.created_at.present? ? question.created_at.strftime("%Y-%m-%d") : "未保存" %>
    <% unless question.is_a?(ShareQuestion) && @school_class_id == 0 %>  /<span name="cankaoshijian">参考时间：<% if question.questions_time.nil? %>未设置<% else %>
          <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %></span><% end %>
    </p>
    <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>"/>
    <ul class="ab_func">
      <% unless question.is_a?(ShareQuestion) && @school_class_id == 0 %>
        <li><a href="javascript:void(0)" class="clock_icon tooltip_html">设定时间</a></li>
      <% end %>
      <% if question.is_a?(Question) %>
        <li><a href="javascript:void(0)" class="<%= is_shared(question) %> tooltip_html">分享</a></li>
      <% end %>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box">
    <% if question.types == Question::TYPES[:LISTENING] %>
      <div class="batchUpload">
        <%= form_tag({:action => :import_lisenting}, :multipart => true ,:remote => true) do %>
            <input type="hidden" value="<%= question.id %>" name="question_id"/>
            <input type="hidden" value="" name="question_package_id" class="question_package_id" />
            <a href="javascript:void(0);" class="file_btn"><span>批量上传</span><input name="file" value="" type="file" onchange="upload_lisenting_ques(this)" /></a>
            <div class="b_example"><a href="/radio_example.zip">点击查看听写题包示例</a></div>
        <% end %>
        <div class="batchUpload_box">                
        </div>
      </div>
    <% end %>  
    <div class="ab_article">
      <%= render "l_r_branch_que" ,{:types => types, :question_id => question_id, :resource_url => nil, :branch_id => nil, :content => nil, :count_q => nil, :count_b => nil } %>
    </div>
  </div>
</div>