<div class="assignment_body_list ab_list_open">
  <div class="ab_list_title">
    <h1>未命名</h1>
    <p><%= Question::TYPES_NAME[question.types] %>/ <%= user.name %>
      / <%= question.created_at.present? ? question.created_at.strftime("%Y-%m-%d") : "未保存" %>/ 
      <span name=cankaoshijian>参考时间：
        <% if question.questions_time.present? %>
          <%= question.questions_time/60 %>'<%= question.questions_time%60 %>
        <% else %>
          未设置
        <% end %>
      </span>
    </p>
    <input type="hidden" name="question_id" class="question_id" value="<%= question_id %>">
    <ul class="ab_func">
      <li><a href="javascript:void(0)" class="clock_icon tooltip_html">设定时间</a></li>
      <!-- <li><a href="javascript:void(0)" class="save_icon tooltip_html">保存</a></li> -->
      <li><a href="javascript:void(0)" class="share_icon tooltip_html">分享</a></li>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box">
    <div class="ab_article">
      <%= render "l_r_branch_que" ,{:types => types, :question_id => question_id, :resource_url => nil, :branch_id => nil, :content => nil, :count_q => nil, :count_b => nil } %>
    </div>
  </div>
</div>