<% school_class_id = school_class ? school_class.id : 0 %>
<%= form_tag "/school_classes/#{school_class_id}/question_packages/create_time_limit", :method => :post, :class => "create_time_limit_form", :remote => true do %>
  <% que_time = trans_int_to_time(question.questions_time.to_i) %>
  <div class="ab_list_title" id="time_limt_ab_list_title">
    <h1 id="time_limit_name">十速挑战
        <% if question.is_a?(ShareQuestion) %>
          (<%= question.name.present? ? "(#{question.name})" : "#{share_question_title(question.try(:id))}".html_safe %>)
        <% else %>
          十速挑战<%= question.name.nil? ? "" : "(#{question.name})" %>
        <% end %>
      </h1>
    <p><%= user.name %>/ <%= question.created_at.nil? ? Time.now.strftime("%Y-%m-%d") : question.created_at.strftime("%Y-%m-%d") %>
<% unless question.is_a?(ShareQuestion) %>      / <span name="cankaoshijian">参考时间：<% if question.questions_time.nil? %>未设置<% else %>
      <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %></span><% end %></p>

    <input type="hidden"  name="question_id" class="question_id" value="<%= question.nil? ? "0" : question.id %>"/>
    <input type="hidden" id="create_time_limit_hour" value="<%= que_time.nil? || que_time[0]==0 ? "" : que_time[0] %>"/>
    <input type="hidden" id="create_time_limit_minute" value="<%= que_time.nil? || que_time[1]==0 ? "" : que_time[1] %>"/>
    <input type="hidden" id="create_time_limit_second" value="<%= que_time.nil? || que_time[2]==0 ? "" : que_time[2] %>"/>
    
    <input type="hidden" name="question_type" value="time_limit"/>
    <ul class="ab_func">
      <% unless question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0)" class="clock_icon tooltip_html">指定时间</a></li>
      <% end %>
      <li><a href="javascript:void(0)" class="save_icon tooltip_html">保存</a></li>
      <% unless question.is_a?(ShareQuestion) %>
        <li><a href="javascript:void(0)" class="<%= is_shared(question) %> tooltip_html" id="new_time_limit_share">分享</a></li>
      <% end %>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <div class="ab_article time_limit_ab_article" id="time_limit_ab_article">
      <% if branch_question && branch_question.length == 10 %>
        <% branch_question.each do |bq| %>
          <div class="questions_item" id="time_limit_item_<%= bq.id %>">
            <div class="q_topic">
              <div class="speedQuestions">
                <ul>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)" <% if bq.answer=="true" %>class="true"<% end %>>T</a></li>
                  <li class="qt_text">
                    <p ondblclick="time_limit_hide_p(this)"><%= bq.content %></p>
                    <input name="[time_limit][<%= bq.id %>][content]" type="text" value="<%= bq.content %>" style="display:none;" onblur="time_limit_hide_input(this)"/></li>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)" <% if bq.answer=="false" %>class="true"<% end %>>F</a></li>
                  <input type="hidden" name="[time_limit][<%= bq.id %>][answer]" aid="ddd" value="<%= bq.answer=="true" ? "true" : "false" %>"/>
                </ul>
              </div>
            </div>
            <div class="qt_icon"><a href="javascript:void(0)" class="tag_1 tooltip_html" onclick="add_b_tags('time_limit',this)">标签</a></div>
            <div class="tag_ul">
              <ul>
                <% branch_tags[bq.id].each do |t| %>
                <% question_id = t.is_a?(SbranchBranchTagRelation) ? t.share_branch_question_id : t.branch_question_id%>
                  <% if question_id== bq.id %>
                    <li>
                      <p><%= t.name %></p>
                      <a href="javascript:void(0)" class="x" onclick="remove_tags_from_time_limit(this)">x</a>
                      <input type="hidden" name="[time_limit][<%= bq.id %>][tags][]" value="<%= t.branch_tag_id %>"/>
                    </li>
                  <% end %>
                <% end if branch_tags && branch_tags[bq.id] %>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <% 10.times do |t| %>
          <div class="questions_item" id="time_limit_item_<%= t %>">
            <div class="q_topic">
              <div class="speedQuestions">
                <ul>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)">T</a></li>
                  <li class="qt_text">
                    <p ondblclick="time_limit_hide_p(this)"></p>
                    <input name="[time_limit][<%= t %>][content]" type="text" style="display:none;" onblur="time_limit_hide_input(this)"/></li>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)">F</a></li>
                  <input type="hidden" name="[time_limit][<%= t %>][answer]" aid="ddd"/>
                </ul>
              </div>
            </div>
            <div class="qt_icon"><a href="javascript:void(0)" class="tag_1 tooltip_html" onclick="add_b_tags('time_limit',this)">标签</a></div>
            <div class="tag_ul">
              <ul>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


<script>
  $(function(){
    //保存小题验证
    $(".ab_list_title").on("click", ".save_icon", function(){
      var ab_list_title = $(this).parents(".ab_list_title");
      var time_limit_ab_article = ab_list_title.next().find(".time_limit_ab_article")
      var flag = true;
      var q_items = time_limit_ab_article.find("div.questions_item");
      var hour = ab_list_title.find("#create_time_limit_hour").val();
      var minute = ab_list_title.find("#create_time_limit_minute").val();
      var second = ab_list_title.find("#create_time_limit_second").val();
      <% unless question.is_a?(ShareQuestion) %>
      if((hour=="" || hour=="时") && (minute=="" || minute=="分") && (second=="" || second=="秒")){
        flag = false;
        tishi("尚未指定时间");
        return false;
      };
      <% end %>
      $.each(q_items, function(){
        var id = $(this).attr("id").split("_")[3];
        var txt = $.trim($(this).find(".speedQuestions ul input[type='text']").first().val());
        var t_f_len = $(this).find(".speedQuestions ul a.true").length;
        if(txt==""){
          flag = false;
          tishi("您有尚未填写的题目!");
          return false;
        }else if(get_str_len(txt)==false){
          flag = false;
          tishi("每道题最多支持250个字符!");
          return false;
        }else if(t_f_len<=0){
          flag = false;
          tishi("您有题目未选择标准答案!");
          return false;
        }
      });
      if(flag){
        var school_class_id = <%= school_class_id %>;
        var q_id = $(this).parents(".ab_list_title").find("input[name='question_id']").first().val();
        if(q_id==undefined || q_id=="" || q_id=="0"){
          tishi("数据错误!");
        }else{
          ab_list_title.parent(".create_time_limit_form").submit();
        }
      }
      return false;
    });
  })


  //选择T或者F时改变样式
  function time_limit_change_true_or_false(obj){
    var bool = $(obj).text();
    if(bool=="T"){
      $(obj).parents("ul").find("input[aid='ddd']").first().val("true");
    }else if(bool=="F"){
      $(obj).parents("ul").find("input[aid='ddd']").first().val("false");
    };
    $(obj).parents("ul").find("a").removeAttr("class");
    $(obj).attr("class", "true");
  }


  //删除标签
  function remove_tags_from_time_limit(obj){
    var con = confirm("确定删除此标签?");
    if(con){
      $(obj).parent("li").remove();
    }
  }

  

  //点击p标签编辑十速挑战内容
  function time_limit_hide_p(obj){
    $(obj).hide();
    $(obj).parent("li").removeAttr("class");
    $(obj).parent("li").attr("class", "qt_input");
    $(obj).next().show();
    $(obj).next().focus();
  }
  //十速挑战内容输入框失去焦点后隐藏
  function time_limit_hide_input(obj){
    var content = $(obj).val();
    $(obj).hide();
    $(obj).parent("li").removeAttr("class");
    $(obj).parent("li").attr("class", "qt_text");
    $(obj).prev().text(content);
    $(obj).prev().show();
  }
</script>