<%= form_tag "/school_classes/#{@school_class.id}/question_packages/create_time_limit", :method => :post, :id => "create_time_limit_form", :remote => true do %>
  <div class="ab_list_title" id="time_limt_ab_list_title">
    <h1 id="time_limit_name"><%= @time_limit_que_name.nil? ? "未命名" : @time_limit_que_name %></h1>
    <p>十速挑战/ <%= @time_limit_user_name %>/ <%= @time_limit_que_time.nil? ? Time.now.strftime("%Y-%m-%d") : @time_limit_que_time %>
      / <span name="cankaoshijian">参考时间：<% if @tlqqt.nil? %>未指定<% else %><%= @tlqqt[0]==0 ? "" : "#{@tlqqt[0]}时" %><%= @tlqqt[1]==0 ? "" : "#{@tlqqt[1]}分" %><%= @tlqqt[2]==0 ? "" : "#{@tlqqt[2]}秒" %><% end %></span></p>
    <input type="hidden"  name="question_id" class="question_id" value="<%= @time_limit_que_id.nil? ? "0" : @time_limit_que_id %>"/>
    <input type="hidden" id="create_time_limit_hour" value="<%= @tlqqt.nil? || @tlqqt[0]==0 ? "" : @tlqqt[0] %>"/>
    <input type="hidden" id="create_time_limit_minute" value="<%= @tlqqt.nil? || @tlqqt[1]==0 ? "" : @tlqqt[1] %>"/>
    <input type="hidden" id="create_time_limit_second" value="<%= @tlqqt.nil? || @tlqqt[2]==0 ? "" : @tlqqt[2] %>"/>
    <input type="hidden" name="question_type" value="time_limit"/>
    <ul class="ab_func">
      <li><a href="javascript:void(0)" class="clock_icon tooltip_html">指定时间</a></li>
      <li><a href="javascript:void(0)" class="save_icon tooltip_html">保存</a></li>
      <li><a href="javascript:void(0)" class="share_icon tooltip_html" id="new_time_limit_share">分享</a></li>
      <li><a href="javascript:void(0)" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <div class="ab_article" id="time_limit_ab_article">
      <% if @time_limit_branch_que && @time_limit_branch_que.length == 10 %>
        <% @time_limit_branch_que.each do |bq| %>
          <div class="questions_item" id="time_limit_item_<%= bq.id %>">
            <div class="q_topic">
              <div class="speedQuestions">
                <ul>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)" <% if bq.answer=="true" %>class="true"<% end %>>T</a></li>
                  <li class="qt_text">
                    <p ondblclick="time_limit_hide_p(this)"><%= bq.content %></p>
                    <input name="[time_limit][<%= bq.id %>][content]" type="text" value="<%= bq.content %>" style="display:none;" onblur="time_limit_hide_input(this)"/></li>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)" <% if bq.answer=="false" %>class="true"<% end %>>F</a></li>
                  <input type="hidden" name="[time_limit][<%= bq.id %>][answer]" aid="ddd" value="<%= bq.answer=="true" ? "true" : "false" %>"/>
                </ul>
              </div>
            </div>
            <div class="qt_icon"><a href="javascript:void(0)" class="tag_1 tooltip_html" onclick="add_b_tags('time_limit',this)">标签</a></div>
            <div class="tag_ul">
              <ul>
                <% @time_limit_tags.each do |t| %>
                  <% if t.bq_id == bq.id %>
                    <li>
                      <p><%= t.name %></p>
                      <a href="javascript:void(0)" class="x" onclick="remove_tags_from_time_limit(this)">x</a>
                      <input type="hidden" name="[time_limit][<%= bq.id %>][tags][]" value="<%= t.bt_id %>"/>
                    </li>
                  <% end %>
                <% end if @time_limit_tags %>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <% 10.times do |t| %>
          <div class="questions_item" id="time_limit_item_<%= t %>">
            <div class="q_topic">
              <div class="speedQuestions">
                <ul>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)">T</a></li>
                  <li class="qt_text">
                    <p ondblclick="time_limit_hide_p(this)"></p>
                    <input name="[time_limit][<%= t %>][content]" type="text" style="display:none;" onblur="time_limit_hide_input(this)"/></li>
                  <li><a href="javascript:void(0)" onclick="time_limit_change_true_or_false(this)">F</a></li>
                  <input type="hidden" name="[time_limit][<%= t %>][answer]" aid="ddd"/>
                </ul>
              </div>
            </div>
            <div class="qt_icon"><a href="javascript:void(0)" class="tag_1 tooltip_html" onclick="add_b_tags('time_limit',this)">标签</a></div>
            <div class="tag_ul">
              <ul>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


<script>
  $(function(){
    //保存小题验证
    $("#time_limt_ab_list_title").on("click", ".save_icon", function(){
      var flag = true;
      var q_items = $("#time_limit_ab_article").find("div.questions_item");
      var hour = $("#create_time_limit_hour").val();
      var minute = $("#create_time_limit_minute").val();
      var second = $("#create_time_limit_second").val();
      if((hour=="" || hour=="时") && (minute=="" || minute=="分") && (second=="" || second=="秒")){
        flag = false;
        tishi("尚未指定时间");
        return false;
      };
      $.each(q_items, function(){
        var id = $(this).attr("id").split("_")[3];
        var txt = $.trim($(this).find(".speedQuestions ul input[type='text']").first().val());
        var t_f_len = $(this).find(".speedQuestions ul a.true").length;
        if(txt==""){
          flag = false;
          tishi("您有尚未填写的题目!");
          return false;
        }else if(t_f_len<=0){
          flag = false;
          tishi("您有题目未选择标准答案!");
          return false;
        }
      });
      if(flag){
        var school_class_id = <%= @school_class.id %>;
        var q_id = $(this).parents(".ab_list_title").find("input[name='question_id']").first().val();
        if(q_id==undefined || q_id=="" || q_id=="0"){
          tishi("数据错误!");
        }else{
          $("#create_time_limit_form").submit();
        }
      }
      return false;
    });
  })


  //选择T或者F时改变样式
  function time_limit_change_true_or_false(obj){
    var bool = $(obj).text();
    if(bool=="T"){
      $(obj).parents("ul").find("input[aid='ddd']").first().val("true");
    }else if(bool=="F"){
      $(obj).parents("ul").find("input[aid='ddd']").first().val("false");
    };
    $(obj).parents("ul").find("a").removeAttr("class");
    $(obj).attr("class", "true");
  }


  //删除标签
  function remove_tags_from_time_limit(obj){
    $(obj).parent("li").remove();
  }

  

  //点击p标签编辑十速挑战内容
  function time_limit_hide_p(obj){
    $(obj).hide();
    $(obj).parent("li").removeAttr("class");
    $(obj).parent("li").attr("class", "qt_input");
    $(obj).next().show();
    $(obj).next().focus();
  }
  //十速挑战内容输入框失去焦点后隐藏
  function time_limit_hide_input(obj){
    var content = $(obj).val();
    $(obj).hide();
    $(obj).parent("li").removeAttr("class");
    $(obj).parent("li").attr("class", "qt_text");
    $(obj).prev().text(content);
    $(obj).prev().show();
  }
</script>