<div class="assignment_body_list">
  <div class="ab_list_title">
    <% que_time = trans_int_to_time(question[:questions_time].to_i) %>
    <h1><%= question[:name].present? ? question[:name] : "未命名"   %></h1>
    <p><%= Question::TYPES_NAME[question[:types]] %> / <%= @user.name %> / <%= question[:created_at].strftime("%Y-%m-%d") %> /
       <span name="cankaoshijian">参考时间：<% if question[:questions_time].nil? %>未设置<% else %>
          <%= que_time[0]==0 ? "" : "#{que_time[0]}时" %><%= que_time[1]==0 ? "" : "#{que_time[1]}分" %><%= que_time[2]==0 ? "" : "#{que_time[2]}秒" %><% end %></span>
    </p>
  </div>
      <%= render  "/branch_questions/lining_list", {:branch_questions => question[:branch_questions], :branch_tags => @branch_tags, :question => question} %>

</div>