<div class="assignment_body_list">
  <div class="ab_list_title">
    <h1><%= question[:name].present? ? question[:name] : "未命名"   %></h1>
    <p><%= Question::TYPES_NAME[question[:types]]  %> / <%= @user.name %> / <%= question[:created_at].strftime("%Y-%m-%d") %> /  参考时间：
        <% if question[:questions_time].present? %>
          <%= question[:questions_time]/3600 %>时<%= question[:questions_time]%3600/60 %>分<%= question[:questions_time]%3600%60 %>秒
        <% else %>
          未设置
        <% end %></p>
  </div>
        <%= render  "/branch_questions/selecting_list", {:branch_questions => question[:branch_questions], :branch_tags => @branch_tags, :question => question} %>

</div>