<%@wanxin_index =0%>

<% @questions.each_with_index do |question,index| %>
  <% case question.types %>
  <% when Question::TYPES[:READING] || Question::TYPES[:LISTENING]%>
    <%= render "edit_l_or_r_que",{:question => question, :user => @user} %>
  <% when Question::TYPES[:TIME_LIMIT] %>
    <div class="assignment_body_list" id="time_limit_assignment_body_list">
      <%= render "new_time_limit", {:question => question, :branch_question => @branch_questions[question.id],
        :user => @user, :branch_tags => @branch_tags[question.id], :school_class => @school_class}  %>
    </div>
  <% when Question::TYPES[:SELECTING] %>
    <%= render "questions/list_select" ,{:question=>question}  %>
  <% when Question::TYPES[:LINING] %>
    <%= render "questions/list_lianxian",{:question=>question}  %>
  <% when Question::TYPES[:CLOZE] %>
    <%p 11222221,@branch_questions%>
    <%=render 'wanxin/wanxin',{:@question=>question,
      :@wanxin_index=>@wanxin_index,
      :branch_questions => (@branch_questions[question.id] if @branch_questions),
      :branch_tags => (@branch_tags[question.id] unless @branch_tags.nil? ),
      :@school_class=>@school_class,
      :@question_packages=>@question_pack}%>
    <%@wanxin_index+=1%>
  <% when Question::TYPES[:SORT] %>
    <%=render 'wanxin/paixu',{:@question=>question,
      :branch_questions => (@branch_questions[question.id] if @branch_questions),
      :branch_tags => (@branch_tags[question.id] unless @branch_tags.nil? ),
      :@school_class=>@school_class,
      :@question_packages=>@question_pack}%>
  <%else%>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    $('input[type=checkbox], input[type=radio]').iCheck({
      checkboxClass: 'icheckbox_square-aero',
      radioClass: 'iradio_square-aero',
      increaseArea: '20%' // optional
    });
  });
</script>
