<!-- 第一步 -->
<div class="book_box_con first_step">
  <div class="progressBar clearAfter">
    <ul>
      <li class="hover">1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
  <div class="addwork_btn">
    <a href="javascript:void(0)" class="addwork_orange_a"><span class="write_a">听写</span></a>
    <a href="javascript:void(0)" class="addwork_green_a"><span class="read_a">朗读</span></a>
    <a href="javascript:void(0)" class="addwork_green_a"><span class="select_a">选择</span></a>
    <a href="javascript:void(0)" class="addwork_green_a"><span class="connect_a">连线</span></a>
  </div>
</div>

<!-- 第二步 -->
<div class="book_box_con second_step" style="display:none">
  <div class="progressBar clearAfter">
    <ul>
      <li class="go_back" onclick="showFirstStep()" onmouseover="addClassHover(this)" onmouseout="removeClassHover(this)">1</li>
      <li class="hover">2</li>
      <li>3</li>
    </ul>
  </div>
  <div class="addwork_btn">
    <a href="javascript:void(0)" class="addwork_orange_a"><span class="build_a">新建</span></a>
    <a href="javascript:void(0)" class="addwork_green_a"><span class="quote_a">引用</span></a>
  </div>
</div>

<!-- 第三步 -->
<div class="book_box_con third_step"  style="display:none">
  <div class="progressBar clearAfter">
    <ul>
      <li class="go_back" onclick="showFirstStep()" onmouseover="addClassHover(this)" onmouseout="removeClassHover(this)">1</li>
      <li class="go_back" onclick="showSecondStep()" onmouseover="addClassHover(this)" onmouseout="removeClassHover(this)">2</li>
      <li class="hover">3</li>
    </ul>
  </div>
  <div class="book_box_area">
    <div class="book_box_table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>单元</th>
            <th>课</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select class="cell_ids" onchange="loadEpisode(this)">
                <option>请选择单元</option>
                <% @cells.each do |cell| %>
                  <option value="<%= cell.id %>"><%= cell.name %></option>
                <% end %>
              </select>
            </td>
            <td>
              <% @episodes.each do |cell_id, episodes| %>
              <select id="cell_<%= cell_id %>" class="episode_ids" style="display:none">
                <option>请选择课</option>
                  <% episodes.each do |episode| %>
                    <option value="<%= episode.id %>"><%= episode.name %></option>
                  <% end %>
                </select>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="remark_btn">
    <button class="green_btn" onclick="GoForthStep('<%= @question_pack_id || "" %>', <%= school_class_id %>)">下一步</button>
  </div>
</div>

<script>
  $(".book_box_con").on('click', ".addwork_btn a", function(){
    $(this).addClass("selected");
    $(this).parents(".book_box_con").hide();
    $(this).parents(".book_box_con").next().show();

  });
  $("select.episode_ids").first().show();
</script>