<script charset="utf-8" src="/assets/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/assets/kindeditor/lang/zh_CN.js"></script>
<script>
  function full_text(){
    KindEditor.ready(function(K) {
      window.editor = K.create('.wanxin_content', {
        width : '370px',
        height : '600px',
        minWidth : '370px',
        items : ['source',
          'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
          'removeformat', '|',
          'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
          '|','mark','commit'],
        afterCreate : function() {
          this.sync();
        },
        afterBlur: function(){
          this.sync();
        }//同步KindEditor的值到textarea文本框
      });
    });
  }
  full_text();
</script>
<div class="main" id="new_question_main_div">
  <div class="assignment">
    <div class="assignment_head">
      <div class="select_box">
        <div class="rowElem">
          <select name="select1" id="select1" <%=@question_exist.nil? ? "":"disabled='disabled' width='322px'" %> onchange="address_search_episodes(this, <%= @school_class.id %>, 0)">
            <%if @question_exist.nil?%>
              <option value="0">请选择单元</option>
              <%@cells.each do |cell|%>
                <option value="<%=cell.id %>" >
                  <%=cell.name%>
                </option>
              <%end%>
            <%else%>
                <option value="<%=  @exist_cell.id if @exist_cell %>"  >&nbsp;<%=@exist_cell.name if @exist_cell%></option>
            <%end%>
          </select>
        </div>
        <div class="rowElem" id="select2">
          <select name="select2" <%=@question_exist.nil? ? "":"disabled='disabled' width='322px'" %>  >
            <%if @question_exist.nil?%>
              <option value="opt1">请先选择单元</option>
            <%else%>
              <option value="<%=  @exist_episode.id if @exist_episode%>" >&nbsp;<%=  @exist_episode.name if @exist_episode%></option>
            <%end%>
          </select>
        </div>
      </div>
    </div>

    <!--  添加引用替换div reference_replace_part -->
    <div class="reference_replace_part">
      <div class="assignment_body" id="question_list" style="<%=@question_exist.nil? ? "display:none;":""%>" >
        <%=  render :partial => 'question_packages/questions_list' %>
      </div>

      <div class="questionTypes" style="<%=@question_exist.nil? ? "display:none;":""%>">
        <div class="qType_menu clearAfter">
          <ul>
            <li class="hover"><p><span class="qType_speed">十速挑战</span></p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a href="javascript:void(0)" onclick="new_time_limit(<%= @school_class.id %>)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:TIME_LIMIT]}" %>">引用</a>
              </div>
            </li>
            <li><p><span class="qType_write">听写</span></p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a href="javascript:void(0)" onclick="add_l_r_question(0, <%= params[:school_class_id]  %>)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:LISTENING]}" %>">引用</a>
              </div>
            </li>
            <li><p><span class="qType_read" >朗读</span></p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a href="javascript:void(0)" onclick="add_l_r_question(1, <%= params[:school_class_id]  %>)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:READING]}" %>">引用</a>
              </div>
            </li>
            <li><p><a href="/school_classes/<%= params[:school_class_id].to_i %>/question_packages/<%= @question_pack.id %>/questions/question_selects_all?types=3&question_package_id=<%= @question_pack.id %>" data-remote="true">
                  <span class="qType_choose">选择</span></a></p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a href="javascript:void(0)" onclick="new_select_question(this)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:SELECTING]}" %>">引用</a>
              </div>
            </li>

            <li><p><span class="qType_ligature">连线</span></p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a href="javascript:void(0)" onclick="new_lianxian_question(this)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:LINING]}" %>">引用</a>
              </div>
            </li>
            <li><p><span class="qType_sort">排序</span></p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a onclick="create_paixu(<%=  @school_class.id%>,<%=  @question_pack.id%>)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:SORT]}" %>">引用</a>
              </div>
            </li>
            <li class="last_child">
              <p>
                <span  class="qType_gap" style=" cursor: pointer;" onclick="show_wanxin(<%=  @school_class.id%>,<%=  @question_pack.id%>)">完形</span>
              </p>
              <i class="arrows"></i>
              <div class="second_menu">
                <a onclick="create_wanxin(<%=  @school_class.id%>,<%=  @question_pack.id%>)">新建</a>
                <a class="new_reference" href="javascript:void(0)" data-href="<%= @reference_part_url + "&types=#{Question::TYPES[:CLOZE]}" %>">引用</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="complete_btn_box" style="<%=@question_exist.nil? ? "display:none;":""%>">
        <%=form_for(:question_packages , url:check_before_complete_create_package_school_class_question_package_path(@school_class,@question_pack)) do |f| %>
        <input type="hidden"  name="school_class_id" id="school_class_id" value="<%=@school_class.id%>"/>
        <input type="hidden"  name="cell_id" id="cell_id" value="<%=  @exist_cell.id  if @exist_cell%>"/>
        <input type="hidden"  name="episode_id" id="episode_id" value="<%=  @exist_episode.id  if @exist_episode%>"/>
        <input type="hidden"  name="question_package_id" id="question_package_id" value="<%=@question_pack.id%>"/>
        <button>点击确定完成创建</button>
        <%end%>
      </div>
    </div>
    <!--标签层-->
    <div class="tag_tab" id="tags_table">
      <span class="arrows">A</span>
      <div class="search">
        <input type="text" oninput="search_b_tags(this, <%= @school_class.id  %>)"/></div>
      <ul>
        <% @b_tags.each do |bt| %>
          <li><input type="checkbox" value="<%= bt.id %>"/><p><%= bt.name %></p></li>
        <% end %>
      </ul>
      <input type="hidden" value=""/>
      <a href="javascript:void(0)" onclick="add_b_tag(this, <%= @school_class.id  %>)"></a>
    </div>

  </div>
</div>
<script>
  var gloab_index =-1;
  $(function(){
    $('.select_box').jqTransform();
  });
  $(document).ready(function(){
    $(".steps .td_text_p").dblclick(function(){
      $(".td_text_p").show();
    });
  })

  function show_questions(obj,id)
  {
    $(".assignment_body").hide();
    $("#question_list_"+id+"").show();
  }
  $(document).ready(function(){
    $('input[type=checkbox], input[type=radio]').iCheck({
      checkboxClass: 'icheckbox_square-aero',
      radioClass: 'iradio_square-aero',
      increaseArea: '20%' // optional
    });
  });
</script>
