<% if @status == 1 %>
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").find("a:eq(0)").remove();
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").prepend('<a href="javascript:void(0)" class="delete tooltip_html" style="" onclick="delete_reading_listening_branch(this)">删除</a>');
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("[class='branch_id']").val(<%= @branch_question.id %>);
$("#question_<%= @question.id %>").find("[class='ab_article']").append("<%=j(render 'l_r_branch_que', {:types=> @types, :question_id => @question_id, :resource_url=> nil, :branch_id => nil, :content =>nil, :count_q=> nil , :count_b => nil} )%>");
<% end%>
tishi("<%= @notice %>");
