<% if @status == 1 %>
<% if @branch_question.resource_url.present? %>
	$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").find("a:eq(0)").remove();
	$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").prepend('<%=j(render "voice_tmp", {:resource_url=> @branch_question.resource_url} )%>');
<% end %>
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").find("a:eq(0)").remove();
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").prepend('<a href="javascript:void(0)" class="delete tooltip_html" style="" onclick="delete_reading_listening_branch(this)">删除</a>');
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("[class='branch_id']").val(<%= @branch_question.id %>);
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("[class='ab_article']").append("<%=j(render 'l_r_branch_que', {:types=> @types, :question_id => @question_id, :resource_url=> nil, :branch_id => nil, :content =>nil, :count_q=> nil , :count_b => nil} )%>");
<% elsif  @status == 2 %>
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").find("a:eq(0)").remove();
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").prepend('<%=j(render "voice_tmp", {:resource_url=> @branch_question.resource_url} )%>');
$("div.assignment_body_list:eq("+<%= @q_index %>+")").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").find("[class='file']").remove();
<% end%>
tishi("<%= @notice %>");
