<% if @status == 1 %>
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").find("a:eq(0)").remove();
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").prepend('<a href="javascript:void(0)" class="delete tooltip_html" style="" onclick="delete_reading_listening_branch(this)">删除</a>');
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").append('<%= j(render "tag_btn") %>');
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("[class='branch_id']").val(<%= @branch_question.id %>);
$("#question_<%= @question.id %>").find("[class='ab_article']").append("<%=j(render 'l_r_branch_que', {:types=> @types, :question_id => @question_id, :content => nil, :resource_url =>nil ,:branch_id => nil,:count_q => nil, :count_b => nil} )%>");
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").find("a:eq(0)").remove();
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").prepend('<%=j(render "voice_tmp", {:resource_url=> @branch_question.resource_url} )%>');
$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("ul.branch_question").find("li:eq(0)").find("[class='file']").remove();
<% else %>
var btn_class = $("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").find("a:eq(0)").attr("class");
if(btn_class == "save")
{
	$("#question_<%= @question.id %>").find("div.questions_item:eq("+ <%= @b_index %> +")").find("div.qt_icon").find("a:eq(0)").removeAttr("disabled");
}
<% end%>
tishi("<%= @notice %>");
