<div class="subject">
  <div class="subject_head">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="200">
          <div class="select_box">
            <div class="rowElem">
              <select name="select1" onchange="select_course(this)">
                <option value="0" <% if @course_id.nil? || @course_id.to_i==0 %>selected<% end %>>科目</option>
                <% @all_courses.each do |c| %>
                  <option value="<%= c.id %>" <% if @course_id.to_i == c.id %>selected<% end %>><%= c.name %></option>
                <% end if @all_courses %>
              </select>
            </div>
          </div>
        </td>
        <td>教材</td>
      </tr>
    </table>
  </div>
  <div class="subject_body">
    <% @page_courses.each do |pc| %>
      <% teach_mat = @teaching_materials[pc.id] if @teaching_materials && @teaching_materials[pc.id] && @teaching_materials[pc.id].length > 0 %>
      <div class="b_table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td rowspan="<%= teach_mat.nil? ? "2" : teach_mat.length + 2 %>" width="300">
              <div class="subject_td_title"><h1><%= pc.name %></h1> <a href="javascript:void(0)" class="delete_a tooltip_html" onclick="del_course('<%= pc.id %>')">删除</a></div>
            </td>
          </tr>
          <% teach_mat.each do |tm| %>
            <tr>
              <td><div class="subject_td_con"><h2><%= tm.name %></h2><a href="javascript:void(0)" class="delete_a tooltip_html" onclick="del_teac_material('<%= tm.id %>')">删除</a></div></td>
            </tr>
          <% end if teach_mat %>
          <tr>
            <td><a href="javascript:void" class="add_a tooltip_html">添加</a></td>
          </tr>
        </table>
      </div>
    <% end if @page_courses.any? %>
    <div class="b_table">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="300"><a href="javascript:void(0)" class="add_a tooltip_html" onclick="new_course(this)">添加</a></td>
          <td></td>
        </tr>
      </table>
    </div>
    <% if @page_courses %>
    <%= will_paginate @page_courses, :next_label => "下一页", :previous_label => "上一页", :class => "pageTurn"%>
    <% end %>
  </div>
</div>

<div class="tab" id="del_course_tab" style="display:none;">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">删除科目</div>
  <div class="tab_warning">确定要删除此科目吗</div>
  <input type="hidden" value="0"/>
  <div class="tab_btn"><button type="button" onclick="del_course_commit(this)">确定</button></div>
</div>

<div class="tab" id="del_t_material_tab" style="display:none;">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">删除教材</div>
  <div class="tab_warning">确定要删除此教材吗</div>
  <input type="hidden" value="0"/>
  <div class="tab_btn"><button type="button" onclick="del_t_material_commit(this)">确定</button></div>
</div>

<div class="tab" id="new_course_tab" style="display:none;">
  <%= form_tag "/admin/courses", :method => "post" do %>
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">新加科目</div>
  <div class="tab_warning">输入新科目名称</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>科目名称：</label><input id="new_course_name" name="new_course_name" type="text"/></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="button" onclick="new_course_commit(this)">确定</button></div>
  <% end %>
</div>




