<div class="wib_title">
  <a href="#" class="quote">引用</a>
  <a href="#" class="back">返回</a>
</div>
<div style="height: 58px;"><div style="width: 80px; height:38px;  text-align: center; margin: 10px 10px 10px auto;" ><a onclick="close_view_share_question();" ><span class="green_btn">返回</span></a></div></div>
<div style="height: 58px;"><div style="width: 80px; height:38px;  text-align: center; margin: 10px 10px 10px auto;" >
  <a href="/question_packages/<%= @question_pack  %>/questions/<%= @share_question.id %>/reference?question_id=<%= @question.id  %>" class="td_a_green" data-method="post" data-remote="true" data-type="script" rel="nofollow">引用</a>


  <%= link_to "引用", reference_question_package_question_path(@question_pack, @share_question.id) + "?question_id=" + @question.id.to_s ,:remote => true, "data-type" => "script", :method => :post %></div></div>
<%= render :partial => "questions/show_branch" %>