<div class="leftSide">
  <div class="logo"></div>
  <div class="nav">
    <ul>
      <li><a href="/school_classes/<%= session[:class_id].to_i %>/main_pages" class=<%=is_hover("main_pages") %>><span class="nav01">首页</span></a></li>
      <li class="firstNav"><a href="javascript:void(0);"><span class="nav02">作业</span></a>
        <div class="menu">
          <a href="#">完成情况</a>
          <a href="/school_classes/<%= session[:class_id].to_i %>/homeworks" class=<%=is_hover("main_pages") %>>留作业</a>
        </div>
      </li>
      <li><a href="/school_classes/<%= session[:class_id].to_i %>/messages" class=<%= is_hover("messages") %>><span class="nav03">信息</span></a></li>
      <li><a href="/teachers/teacher_setting"><span class="nav04">设置</span></a></li>
      <li class="out"><a href="#"><span class="nav05">退出</span></a></li>
    </ul>
  </div>
</div>

