<div class="userInfo">
  <ul>
    <li class="userName"><a href="javascript:void(0)"><%= current_user.name %></a></li>
    <li class="email"><a href="javascript:void(0)"><%= @unread_messes.length %></a></li>
  </ul>
</div>
<div class="logo">超级作业本</div>

<div class="nav">
  <ul>
    <li><a href="/school_manage/teacher_manages" class="<%= is_hover("teacher_manages") %>">教师管理</a></li>
    <li><a href="/school_manage/student_manages" class="<%= is_hover("student_manages") %>">学生管理</a></li>
    <li><a href="/school_manage/quota_consumptions" class="<%= is_hover("quota_consumptions") %>">配额消费</a></li>
  </ul>
</div>
