



<script language="javascript">
  $(function(){
    $('.select_box').jqTransform();
  });
</script>
<div class="tab_user" style="z-index: 999">
  <h1>个人信息</h1>
  <div class="tab_user_box">
    <%= form_for :teachers, :url => {:action => :upload_avatar,:controller => :teachers},:html => {:multipart => true,:method => :post},:remote => true, "data-type" => "script" do|f|  %>

      <div class="tab_user_left">
        <div class="avater_default"><img src='<%=  current_user.avatar_url%>' width="90px"/></div>
        <a href="javascript:void(0);" class="avater_a">
          <span>修改</span>
          <input  name="file_upload" id="file_uploads"type="file" onchange="upload_avatar(this,<%= @school_class.id %>)"/>
        </a>
        <p>注：图片大小限定在1M以内</p>
      </div>
    <%end%>
    <li class="avater" id="changes_avatar" style="display:none;position: absolute;left: 180px;top: 55px;background: #fff;width: 330px;height: 396px;  ">

    </li>
    <div class="tab_user_right">
      <ul>
        <li><label>姓名</label><input name="" type="text" value="<%= current_user.name %>" disabled/></li>
        <li><label>邮箱</label><input name="" type="text" value="<%= current_teacher.email %>" disabled/></li>
        <li><label>原密码</label><input name="password_now" type="password"/></li>
        <li><label>新密码</label><input name="password_update" type="password"/></li>
        <li><label>确认新密码</label><input name="password_update_agin" type="password"/></li>
      </ul>
    </div>

  </div>
  <div class="tab_user_btn"><button onclick="update_password(<%= @school_class.id %>)">保存</button></div>
  <div class="tab_out_btn"> <button onclick="cancle_main();">退出</button></div>
</div>
<div id="fugai" style="display: none;position: fixed ;top:0; z-index:1004;width:100%;height:100%;opacity:0.7;background:#D1EEEE;">

</div>
<div id="fugai1" style="display: none;width:100%;height:100%;position: fixed ;top:0;z-index: 1003;">
  <div style="display:block;margin: 100px auto;text-align: center;height:80px;">
    <h2 >图片上传中</h2>
    <img src="/assets/009.gif" style=" width:80px;height:80px; "/>
  </div>

</div>
