<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HomeworkManage</title>
    <%= stylesheet_link_tag    "/assets/admin/system.css", :media => "all"  %>
    <%= javascript_include_tag "application", "/assets/admin/system.js", "/assets/admin/question_admin.js" %>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <%= csrf_meta_tags %>
  </head>
  <body >
    <div class="wrap">
        <div class="head clearAfter">
            <%=render 'layouts/admin_nav'%>
        </div>
        <div class="main">
            <%= yield %>     
        </div>
    </div>
  </body>  
 </html>
