<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HomeworkManage</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application", "main" ,"My97DatePicker/WdatePicker","main_pages"%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <div class="area clearAfter">
        <%=render 'layouts/left_side'%>
        <div class="tab" style="display:none;">
          <span class="close">关闭</span>
          <div class="tab_con">
            <h1 class="red"></h1>
          </div>
        </div>
        <%= yield %>
      </div>     
    </div>
  </body>
</html>
