<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HomeworkManage</title>
    <%= stylesheet_link_tag    "application", :media => "all"  %>
    <%= stylesheet_link_tag    "/assets/jqtransform.css", "/assets/skins/square/_all.css", "/assets/skins/square/aero.css", "/assets/skins/square/blue.css", "/assets/skins/square/green.css", "/assets/skins/square/grey.css", "/assets/skins/square/orange.css", "/assets/skins/square/pink.css", "/assets/skins/square/purple.css", "/assets/skins/square/red.css", "/assets/skins/square/square.css", "/assets/skins/square/yellow.css", :media => "all"  %>
    <%= javascript_include_tag "application", "main_pages", "zuoye","statistics", "main", "main_pages", "icheck", "jquery.tablesorter", "share_question","ajaxfileupload" ,"homework" %>
    <%= javascript_include_tag "teachers","question_packages", "Chart"%>
    <%= javascript_include_tag "jquery.Jcrop.min"%>
    <%= javascript_include_tag "jquery.jqtransform.js"%>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <script charset="utf-8" src="/assets/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="/assets/kindeditor/lang/zh_CN.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="/assets/excanvas.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body >
    <% flash.each do |name, msg| %>
      <% if name.to_s!='verification_code' %>
        <div id="flash_field" style="width:100%;position: fixed; z-index: 4;">
          <div style="font-size:20px;margin: 200px auto;width: 300px;background: #ffffff;padding: 20px;">
            <span class="close1" id="close_flash" style="float:right;" ></span>
            <div class="alert_h" style="width:300px"><%=raw msg%></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="tab_Prompt" id="tab_Prompt">
      <a href="javascript:void(0)" class="x"></a>
      <p></p>
    </div>
    <div class="wrap">
      <div class="area clearAfter">
        <%=render 'layouts/top_side'%>
        <%=render 'layouts/user_info'%>
        <%= yield %>
        <div class="right_side_mess">
          <% if @unread_messes.any? %>
            <a href="javascript:void(0)" class="side_mess_delete" onclick="del_all_unread_msg(<%= @unread_messes[0].user_id %>, <%= @unread_messes[0].school_class_id %>)">全部删除</a>
          <% end %>
          <div class="side_mess_box">
            <ul>
              <% @unread_messes.each do |um| %>
                <a href="/school_classes/<%= @school_class.id %>/messages/check_micropost?uid=<%= um.user_id %>&mid=<%= um.micropost_id %>&mess_id=<%= um.id %>"><li><p><%= um.content.nil? ? "" : um.content.gsub(/\[|\]|;|\||/, "") %></p><p><%= um.created_at.nil? ? "" : um.created_at.strftime("%Y-%m-%d %H:%M") %></p></li></a>
              <% end if @unread_messes.any? %>
            </ul>
          </div>
        </div>
      </div>     
    </div>
    <div class="mask"></div>
    <div class="tab tab500 school_class_list" id="school_class_list">
      <%= render :partial => 'students/school_class_list' %>
    </div>

    <div class="tab tab500 created_new_class ">
      <%= render :partial => 'students/created_school_class'  %>
    </div>
    <div class="tab tab840" id="popup_page"></div>

    <!--设定question的时间弹出层-->
    <div class="tab tab500" id="set_time_div">
      <%= render :partial => "question_packages/set_time" %>
    </div>
    <!--设定question的名称弹出层-->
    <div class="tab tab500" id="set_name_div">
      <%= render :partial => "question_packages/set_name" %>
    </div>
  </body>
  <script language="javascript">
    $(function(){
      $('.select_box').jqTransform();
    });
  </script>
  <% if flash[:verification_code] %>
    <script>
      tishi_code('<%= flash[:verification_code] %>');
    </script>
  <% end %>
</html>
