<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HomeworkManage</title>
    <%= stylesheet_link_tag   "/assets/admin/jqtransform.css", "/assets/school_manage/school.css", :media => "all"  %>
    <%= javascript_include_tag "application", "/assets/school_manage/school.js", "/assets/school_manage/teacher_manage.js", "/assets/admin/jquery.jqtransform.js" %>
    <%= javascript_include_tag %>
    <%= csrf_meta_tags %>
    <!--美化select-->
    <script language="javascript">
      $(function(){
        $('.select_box').jqTransform();
      });
    </script>
  </head>
  <body >
    <div class="tab_Prompt" id="tab_Prompt">
      <a href="javascript:void(0)" class="x"></a>
      <p></p>
    </div>
    <div class="wrap">
      <div class="head clearAfter">
        <%=render 'layouts/school_manage_nav'%>
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </div>
    <div class="mask"></div>
    <% if flash[:notice] %>
      <script>
        tishi('<%= flash[:notice] %>')
      </script>
    <% end %>
  </body>
</html>