<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>HomeworkManage</title>
    <%= stylesheet_link_tag "new/tstyle.css",'new/jqtransform.css', :media => "all" %>
    <%= javascript_include_tag "application", "new/main", "statistics", "main", "main_pages", "new/icheck", "new/jquery.tablesorter"  %>
    <%= javascript_include_tag "teachers"%>
    <%= javascript_include_tag "jquery.Jcrop.min"%>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrap">
      <%= render "layouts/top_side" %>
      <div class="area clearAfter">
        <div class="tab" id="tishi_div" style="display:none; z-index:1011;">
          <span class="close">关闭</span>
          <div class="tab_con">
            <h1 class="red"></h1>
          </div>
        </div>
        <% flash.each do |x,y| %>
            <% if x != "verification_code" %>
              <% break %>
            <% else %>
              <div class="tab flash"  style="display:none;">
                <span class="close">关闭</span>
                <div class="tab_con">
                  <h1 class="red"><%=y%></h1>
                </div>
              </div>
            <%end%>
        <%end%>
        <%= yield %>
      </div>     
    </div>
    <div class="mask"></div>
  </body>
</html>
