<div class="main">
  <div class="controller">
    <div class="controller_head">
      <a href="javascript:void(0);" class="file_btn"><span>导入学生清单</span><input name="" multiple type="file"/></a>
      <div class="search"><button></button><input name="" type="text"/></div>
    </div>
    <div class="controller_body">
      <div class="b_table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>学生姓名</th>
              <th>学号</th>
              <th>激活码</th>
              <th>激活状态</th>
              <th>停用</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |s| %>
              <tr>
                <td><%= s.uname %></td>
                <td><%= s.s_no.nil? ? "无" : s.s_no %></td>
                <td><%= s.active_code.nil? ? "无" : s.active_code %></td>
                <td><%= s.active_status==true ? "已激活" : "未激活" %></td>
                <% if s.active_status.nil? || s.active_status==false%>
                  <td><a href="javascript:void(0);" class="blockUp_a_ed tooltip_html" onclick="set_stu_active_status(this, '<%= s.id %>', 'open')">启用</a></td>
                <% else %>
                  <td><a href="javascript:void(0);" class="blockUp_a tooltip_html" onclick="set_stu_active_status(this, '<%= s.id %>', 'close')">停用</a></td>
                <% end %>
              </tr>
            <% end if @students && @students.any? %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="tab_Prompt" id="waiting_warning">  <!--文件上传等待框-->
  <p></p>
</div>